.banner__image__section{
	padding: 48px 0 80px;
	.banner{
		width: 100%;
		height: 420px;
		float: left;
		background-position: center;
		background-size: cover;
		position: relative;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%);
		}
		.text{
			width: 100%;
			float: left;
			padding: 104px 0 80px;
			h3{
				margin-bottom: 40px;
			}
			a{
			    padding: 10px 32px;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.banner__image__section {
		padding: 48px 0 40px;
		.banner{
			height: auto;
			.text{
				padding: 70px 30px 60px;
			}
		}
	}
}