.banner__form__section{
	padding-top: 54px;
	.image{
		width: 100%;
		float: left;
		position: relative;
		img{
			position: absolute;
			margin-top: 15px;
		}
	}
	.content{
		width: 100%;
		float: left;
		h1{
		  	font-family: 'Gilroy';
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0.5px;
			line-height: 32px;
			text-transform: uppercase;
			color: #F4214E;
			margin-bottom: 16px;
		}
		h2{
			margin-bottom: 24px;
		}
		.block{
			width: 100%;
			padding-right: 90px;
		}
	}
}
@include media-breakpoint-down(md){
	.banner__form__section{
		.image img{
			position: static;
			margin-top: 0;
		}
		.content {
			.block{
				padding-right: 0;
			}
			h2{
				font-size: 42px;
    			line-height: 56px;
			}
		}
	}
}