.banner__text__section{
	padding-top: 0;
	.banner__block{
		width: 100%;
		height: 460px;
		background-size: cover;
		background-position: center;
		float: left;
		position: relative;
		overflow: hidden;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #010001;
			opacity: 0.5;
			z-index: 1;
		}
		.video{
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			video{
				position: absolute;
				width: auto;
				height: 100%;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
			}
		}
		.content{
			width: 100%;
			float: left;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 12px 43px 40px;
			z-index: 2;
			h3{
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 0;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.banner__text__section .banner__block{
		height: 400px;
	}
}