.benefits__section{
	padding: 0;
	.section__title{
		padding-top: 80px;
		margin-bottom: 40px;
		// border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.border{
		width: 100%;
		height: 1px;
		display: block;
		background-color: rgba(255,255,255,0.1);
		float: left;
	}
}
.border__row{
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.benefit__block{
	width: 100%;
	float: left;
	padding: 40px;
	h3{
		margin-bottom: 20px;
	}
	p{
		color: rgba(255,255,255,0.7);
		font-size: 24px;
		letter-spacing: 0.4px;
		line-height: 40px;
		margin-bottom: 0;
	}
}
@include media-breakpoint-down(md){
	.benefit__block p{
		font-size: 18px;
		line-height: 32px;
	}
}