.capabilities__section{
	padding: 40px 0 35px;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 24px;
		h4{
			font-weight: 700;
			margin-bottom: 0;
		}
	}
	.capabilities{
		width: 100%;
		float: left;
		.capability{
			width: 25%;
			height: 128px;
			float: left;
			border: 1px solid #1A1A1A;
			position: relative;
			overflow: hidden;
			&::before{
				content: '';
				width: 140%;
				height: 100%;
				display: block;
				position: absolute;
				background-color: #F4214E;
				top: 0;
				left: -160%;
				-webkit-transition: all 0.5s ease;
            			transition: all 0.5s ease;
			    -webkit-transform: skewX(30deg);
    					transform: skewX(30deg);
			}
			&:hover{
				&::before{
					left: -20%;
				}
				h6{
					color: #fff;
				}
			}
			.icon{
				width: 100%;
				height: 72px;
				float: left;
				position: relative;
				img{
					width: auto;
					position: absolute;
					top: 60%;
					left: 50%;
					max-height: 42px;
					-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
				}
			}
			h6{
				width: 100%;
				float: left;
				position: absolute;
				top: 77px;
				left: 0;
				text-align: center;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.27px;
				line-height: 20px;
				font-family: 'Roboto', sans-serif;
				margin-bottom: 0;
				color: rgba(244, 33, 78, 0.7);
				-webkit-transition: all 0.5s ease;
            			transition: all 0.5s ease;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.capabilities__section {
		.title {
			margin-bottom: 16px;
			h4{
				font-size: 24px;
				line-height: 32px;
			}
		}
		.capabilities .capability{
			width: 50%;
			&::before{
				width: 160%;
				left: -190%;
				&:hover{
					left: -30%;
				}
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.capabilities__section .capabilities .capability{
		h6{
			top: 72.5px;
		}
		&:hover::before{
			left: -30%;
		}
	}
}