.single-case{
	.post__title{
	    padding: 0 0 40px;
	}
	.post__nav{
		margin: 0 0 64px 0;
	}
	.post__banner{
		h1{
			margin-bottom: 108px;
		}
		h5{
			width: 100%;
			float: left;
			margin-bottom: 16px;
			font-size: 20px;
			letter-spacing: 0.5px;
			line-height: 32px;
			span{
				color: #F4214E;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}
.post__title{
	.post__video{
		width: 100%;
		height: 529px;
		float: left;
		background-color: rgba(0,0,0,0.2);
		position: relative;
		&.play{
			.preview{
				opacity: 0;
				visibility: hidden;
			}
			.play{
				top: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: -90px;
			left: -90px;
			right: -90px;
			bottom: -90px;
			display: block;
			background-color: rgba(216,216,216,0);
			background-size: inherit;
			background-position: center;
			background-image: url(../images/gradient.svg);
		}
		.preview{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
			z-index: 1;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
		}
		.play{
			width: 80px;
			height: 80px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -40px 0 0 -40px;
			background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
			box-shadow: 4px 4px 56px 0 rgba(0,0,0,0.25);
			z-index: 2;
			border-radius: 50%;
			cursor: pointer;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
			&::before{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 0 10px 16px;
				border-color: transparent transparent transparent #ffffff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -10px 0 0 -5px;
			}
			&:hover{
				animation: pulse 1s infinite;
			}
		}
		iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: none;
		}
	}
}
.images__section{
	padding: 0 0 20px 0;
	.image{
		margin-bottom: 20px;
	}
}
.three__images__section{
	padding: 0 0 20px;
	img{
		margin-bottom: 20px;
	}
}
.before__after__section{
	padding: 0 0 40px 0;
	img.lazyload{
		width: auto;
	}
}
.cocoen-drag{
	width: 8px;
	background: #F4214E;
	&::before{
		width: 48px;
		height: 48px;
		display: block;
		margin-top: -24px;
		margin-left: -24px;
		border: none;
		border-radius: 50%;
		background-color: #F4214E;
		background-image: url(../images/icons/icon-arrows.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	img.lazyload{
		width: auto!important;
	}
}
.video__section{
	padding: 0 0 80px 0;
}
.videos__grid{
	.section__title{
		padding-top: 0;
		margin-bottom: 40px;
	}
	.text{
		width: 100%;
		float: left;
		margin-bottom: 30px;
		p{
		    color: rgba(255,255,255,.7);
		    font-size: 24px;
		    letter-spacing: .4px;
		    line-height: 40px;
		}
	}
}
.video__cell{
	width: 100%;
	height: 280px;
	position: relative;
	float: left;
	margin-bottom: 20px;
	.preview{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-position: center;
		background-size: cover;
	}
	.play__btn{
		width: 80px;
		height: 80px;
		top: 50%;
		&::after{
			width: 80px;
    		height: 80px;
		}
		&::before{
			width: 24px;
			height: 24px;
			background-size: 24px 24px;
			margin: -12px 0 0 -9px;
		}
	}
}
@include media-breakpoint-down(md){
	.single-case {
		.post__nav{
			margin: 0 0 16px 0;
		}
		.post__title{
		    padding: 40px 0 40px;
		}
		.post__banner h1{
			margin-bottom: 32px;
		}
	}
	.post__title{
	    .post__video{
	    	height: 400px;
	    	&::before{
	    		background-size: cover;
	    	}
	    }
	}
	.text__section .content p,
	.videos__grid .text p{
		font-size: 16px;
		line-height: 32px;
	}
}
@include media-breakpoint-down(sm){
	.post__title .post__video{
		height: 300px;
	}
}
@include media-breakpoint-down(xs){
	.post__title .post__video{
		height: 220px;
		&::before{
			background-position: center;
			top: -56px;
			left: -20px;
			right: -20px;
			bottom: -90px;
			background-image: url(../images/video-blur-xs.png);
		}
	}
}