.cases__section{
	.button__row{
		margin-top: 40px;
	}
}
.cases__slider{
	width: 100%;
	float: left;
	// padding-bottom: 37px;
	// margin-bottom: 40px;
	.slick-arrow{
		width: 28px;
		height: 32px;
		top: 272px;
		&::before{
			width: 8px;
			height: 14px;
		    margin: -7px 0 0 -4px;
		}
		&.slick-prev{
			left: 485px;
		}
		&.slick-next{
			left: 513px;
		}
	}
	.slide{
		&.slick-current{
			.top__block{
				.image{
					&::before{
						left: -100%;
					}
				}
				.title{
					.content{
						left: 0;
						opacity: 1;
					}
				}
			}
			.bottom__block{
				.text{
					opacity: 1;
				}
			}
		}
	}
	.top__block{
		width: 100%;
		height: 304px;
		float: left;
		position: relative;
		padding-right: 400px;
		.title{
			width: 400px;
			height: 100%;
			position: absolute;
			border: 1px solid #1A1A1A;
			top: 0;
			right: 0;
    		.content{
    			width: 100%;
    			float: left;
    			top: 50%;
				left: 50px;
				position: absolute;
				padding: 0 40px;
    			opacity: 0;
    			-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
				-webkit-transition: all 0.7s ease;
	    				transition: all 0.7s ease;
    		}
			h3{
				margin-bottom: 19.6px;
			}
		}
		.image{
			width: 100%;
			height: 304px;
			float: left;
			position: relative;
			overflow: hidden;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #010001;
				z-index: 2;
				-webkit-transition: all 0.7s ease;
        				transition: all 0.7s ease;
			}
			.thumbnail{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-position: center;
				background-size: cover;
				z-index: 1;
			}
		}
	}
	.bottom__block{
		width: 100%;
		float: left;
		min-height: 260px;
		border: 1px solid #1A1A1A;
		background-color: #010001;
		padding: 40px 40px 40px 320px;
		position: relative;
		.text{
			opacity: 0;
			-webkit-transition: all 0.5s ease;
    				transition: all 0.5s ease;
			p{
				margin-bottom: 0;
			}
		}
		.author{
			width: 320px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			padding: 48px 10px 20px;
			.avatar{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				overflow: hidden;
				display: block;
				background-size: cover;
				background-position: center;
				margin: 0 auto 12px;
			}
			h4{
				margin-bottom: 4px;
				font-family: 'Roboto', sans-serif;
			}
			p{
				line-height: 24px;
			}
		}
	}
}
.cases__navigation{
	float: right;
    margin-bottom: 40px;
    display: block;
    clear: both;
    padding: 0 35px;
    position: relative;
	.slick-arrow{
		position: absolute;
		font-size: 0;
		color: transparent;
		width: 32px;
		height: 38px;
		border: 1px solid #1A1A1A;
		background-color: transparent;
		top: 0;
		&::after{
			content: '';
			width: 8px;
			height: 14px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);

		}
		&:focus{
			outline: none;
		}
		&:active{
			&::after{
				opacity: 0.5;
			}
		}
		// &.slick-prev{
		// 	left: 0;
		// 	&::after{
		// 		background-image: url(../images/icons/icon-arrow-left.svg);
		// 	}
		// }
		// &.slick-next{
		// 	right: 0;
		// 	&::after{
		// 		background-image: url(../images/icons/icon-arrow-right.svg);
		// 	}
		// }
	}
	.slick-dots{
		width: auto;
		height: 38px;
		margin: 0;
		padding: 0;
		list-style: none;
		position: static;
		li{
			width: 20px;
			height: 38px;
			position: relative;
			float: left;
			margin: 0;
			&.slick-active{
				button{
					border-color: #F4214E;
					background-color: #F4214E;
				}
			}
			button{
				border-radius: 50%;
				border: 1px solid rgba(255,255,255,0.6);
				background-color: transparent;
				width: 7px;
				height: 7px;
				display: block;
				position: absolute;
				padding: 0;
				margin: 0;
				top: 50%;
				left: 50%;
				overflow: hidden;
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
				-webkit-transform: translate(-50%, -50%);
                		transform: translate(-50%, -50%);
                &:focus{
                	outline: none;
                }
			}
		}
	}
}
@include media-breakpoint-down(md){
	.cases__section{
		.section__title{
			padding-top: 0;
		}
		.button__row{
			.btn{
				width: 100%;
			}
		}
	}
	.cases__slider{
		padding-bottom: 0;
		.slide{
			width: 100%;
			float: left;
			position: relative;
			margin-bottom: 121px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.top__block {
			padding-right: 0;
			.title{
				width: auto;
				min-width: 262px;
				height: auto;
				padding: 20px 31px 20px 28px;
				z-index: 2;
				top: -40px;
				right: auto;
				left: 0;
				border: 1px solid #1A1A1A;
				background-color: #010001;
				.content{
					position: static;
					opacity: 1;
					padding: 0;
					-webkit-transform: translateY(0); 
							transform: translateY(0);
					h3{
						margin-bottom: 0;
					}
					a{
						display: none;
					}
				}
			}
			.image{
				overflow: visible;
				.thumbnail{
					width: auto;
					left: -20px;
					right: -20px;
				}
				&::before{
					display: none;
				}
			}
		}
		.bottom__block{
			border: none;
			padding: 40px 0 0;
			.text{
				width: 100%;
				float: left;
				opacity: 1;
				margin-bottom: 20px;
			}
			.author{
				width: 100%;
				float: left;
				height: auto;
				position: relative;
				padding: 28px 0 45px 130px;
				text-align: left!important;
				.avatar{
					position: absolute;
					top: 3px;
					left: 0;
					margin: 0;
				}
				h4{
					margin-bottom: 0;
				}
				p{
					font-size: 12px;
					line-height: 16px;
					margin-bottom: 0;
				}
			}
			a{
				margin: 45px 0 0 0;
				float: right;
				font-size: 16px;
				letter-spacing: 0.27px;
				line-height: 28px;
				position: relative;
				color: #FFFFFF;
				padding-right: 20px;
				&::before{
					content: '';
					width: 8px;
					height: 14px;
					display: block;
					position: absolute;
					right: 3px;
					top: 7px;
					background-image: url(../images/icons/icon-arrow-right.svg);
					-webkit-transition: all 0.3s ease;
            				transition: all 0.3s ease;
				}
				&:hover{
					text-decoration: none;
					&::before{
						right: -3px;
					}
				}
			}
		}
	}
}