.character__section{
	background-color: #010001;
	padding: 60px 0 60px 0;
	position: relative;
	z-index: 10;
	&::before{
		content: '';
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(255,255,255,0.1);
		z-index: 1;
	}
	.text{
		width: 100%;
		float: left;
		h1{
			margin-bottom: 40px;
		}
		p{
			color: #FFFFFF;
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
		}
	}
	.image{
		width: 100%;
		float: left;
		position: relative;
		z-index: -1;
		img{
			width: 616px;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
			max-width: inherit;
			margin: -90px 0 0 -20px;
		}
	}
}
@include media-breakpoint-down(md){
	.character__section .image{
		img{
			position: static;
			margin: 0;
			width: 100%;
		}
	}
}
@include media-breakpoint-down(xs){
	.character__section .text p{
		font-size: 18px;
		line-height: 32px;
	}
}