.companies__section{
	padding: 80px 0;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 95px;
		h3{
			margin-bottom: 0;
		}
	}
	.companies{
		display: flex;
    	flex-wrap: wrap;
    	img{
    		width: auto;
    	}
	}
	.company{
	    flex-basis: 0;
	    flex-grow: 1;
	    height: 64px;
	    position: relative;
	    text-align: center;
	    img{
	    	width: auto;
	    	max-height: 64px;
	    	position: absolute;
	    	padding: 0 40px;
	    	top: 50%;
	    	left: 50%;
	    	-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
	    }
	}
}
@include media-breakpoint-down(md){
	.companies__section {
		padding: 40px 0;
		.companies{
			text-align: center;
		}
		.company{
			height: auto;
			display: inline-block;
			flex-basis: inherit;
			margin: 20px 0;
			padding: 0 15px;
			img{
				max-width: 95px;
				padding: 0;
				position: static;
				display: inline-block;
				-webkit-transform: translate(0,0);
    					transform: translate(0,0);
			}
		}
	}
}