.contact__form__section,
.success__page{
	margin-top: 74px;
	.form__block{
		width: 100%;
		float: left;
		padding: 0 100px;
		h2{
			margin-bottom: 40px;
		}
	}
	.contact__block{
		float: left;
		margin: 0 60px 40px 0;
		&.email{
			h4::before{
				background-image: url(../images/icons/icon-mail.svg);
			}
		}
		&.phone{
			h4::before{
				background-image: url(../images/icons/icon-phone.svg);
			}
		}
		&.address{
			h4::before{
				background-image: url(../images/icons/icon-address.svg);
			}
		}
		&:last-child{
			margin-right: 0;
		}
		h4{
			position: relative;
			margin-bottom: 7px;
			padding-left: 36px;
			&::before{
				content: '';
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				left: 0;
				top: 4px;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		a,p{
			opacity: 0.7;
			color: #FFFFFF;
			font-size: 24px;
			font-weight: 300;
			letter-spacing: 0.4px;
			line-height: 40px;
		}
		a:hover{
			color: #F4214E;
			text-decoration: none;
			opacity: 1;
		}
	}
}
.success__page{
	margin-top: 113px;
	padding-bottom: 70px;
	.content{
		width: 100%;
		float: left;
		margin-bottom: 232px;
		h1{
			margin-bottom: 40px;
		}
		h3{
			position: relative;
			display: inline-block;
			padding-right: 64px;
			&::after{
				content: '';
				width: 48px;
				height: 48px;
				display: inline-block;
				background-image: url(../images/icons/icon-email-big.svg);
				position: absolute;
				right: 0;
				top: -2px;
			}
		}
	}
	.contact__block{
		margin-bottom: 0;
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #FFFFFF;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}
.form__wrapper{
	width: 100%;
	float: left;
	margin: 40px 0 0 0;
	padding: 0 70px 0 0;
}
.form__field{
	width: 100%;
	min-height: 67px;
	float: left;
	opacity: 0.7;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 0.4px;
	line-height: 40px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid rgba(179,179,179,0.5);
	outline: none;
	padding: 14px 0 12px;
	-webkit-transition: all 0.2s ease;
    		transition: all 0.2s ease;
	&:focus,
	&.not__empty{
		~ .placeholder{
			font-size: 24px;
			line-height: 32px;
			opacity: 1;
			top: -40px;
		}
	}
	&:focus{
		border-color: #fff;
	}
	&.error{
		border-color: #F4214E;
	}
}
.field__group{
	width: 100%;
	float: left;
	margin-bottom: 60px;
	&.error{
		label::after{
			background-color: #F4214E;
		}
	}
	label{
		width: 100%;
		float: left;
		position: relative;
		&::after{
			content: '';
			width: 1px;
			height: 10px;
			display: block;
			background-color: rgba(179,179,179,0.5);
			position: absolute;
			right: 0;
			bottom: 0;
			-webkit-transition: all 0.2s ease;
    				transition: all 0.2s ease;
		}
		.placeholder{
			width: 100%;
			position: absolute;
			opacity: 0.3;
			color: #FFFFFF;
		    font-family: Gilroy;
		    font-weight: 700;
			font-size: 36px;
			line-height: 48px;
			top: 0;
			left: 0;
			pointer-events: none;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			-webkit-transition: all 0.2s ease;
            		transition: all 0.2s ease;
		}
	}
}
.submit__group{
	width: 100%;
	float: left;
}
.select2-container--default {
	width: 100%;
	float: left;
	.select2-selection--single{
		width: 100%;
		float: left;
		min-height: 67px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(179,179,179,0.5);
		outline: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		.select2-selection__rendered{
			opacity: .7;
		    color: #FFF;
		    font-size: 24px;
		    letter-spacing: .4px;
		    line-height: 40px;
		    padding: 14px 0 12px;
		}
		.select2-selection__arrow{
			width: 50px;
			height: 100%;
			bottom: 0;
			right: 0;
			b{
				width: 24px;
				height: 24px;
				background-image: url(../images/icons/icon-arrow-down.svg);
				margin-top: -12px;
				margin-left: -12px;
				border: none;
				opacity: 0.3;
			}
		}
	}
	.select2-dropdown{
		background-color: #010001;
		border: 1px solid #B3B3B3;
		border-radius: 0;
	}
	.select2-results__options{
		.select2-results__option{
			opacity: 0.7;
			color: #FFFFFF;
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
			padding: 12px 24px;
			-webkit-transition: all 0.2s ease;
            		transition: all 0.2s ease;
			&:first-child{
				display: none;
			}
			&:hover,
			&.select2-results__option--highlighted[aria-selected],
			&[aria-selected=true]{
				background-color: rgba(179,179,179,0.15)!important;
				color: rgba(244, 33, 78, 0.7);
			}
		}
	}
}
.field__error{
	width: 100%;
	float: left;
	position: absolute;
	bottom: -40px;
	right: 0;
	opacity: 0.7;
	color: #F4214E;
	font-size: 16px;
	letter-spacing: 0.27px;
	line-height: 32px;
	text-align: right;
}
.form__response{
	width: 100%;
	float: left;
	color: #FFF;
    font-size: 24px;
    letter-spacing: .4px;
    line-height: 40px;
    text-align: center;
    margin: 30px 0 0;
}
@include media-breakpoint-down(md){
	.contact__form__section {
		.form__block{
			padding: 0;
		}
		.contact__block{
			margin: 0 40px 20px 0;
			h4{
				margin-bottom: 0;
			}
			a,p{
				font-size: 16px;
				line-height: 32px;
			}
		}
	}
	.form__wrapper{
		padding: 0;
	}
}
@include media-breakpoint-down(sm){
	.contact__form__section .contact__block{
		width: 100%;
		margin: 0 0 20px 0;
	}
}