.error__page{
	padding: 175px 0 240px;
	min-height: 80vh;
	.image{
		width: 425px;
		height: 404px;
		display: block;
		margin: -57px 0 0 -200px;
		position: relative;
		background-image: url(../images/404-image.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
	}
	.text{
		width: 100%;
		float: left;
		h1{
			margin-bottom: 20px;
		}
		p{
			opacity: 0.7;
			color: #FFFFFF;
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
			margin-bottom: 40px;
		}
	}
}
@include media-breakpoint-down(md){
	.error__page{
		padding: 100px 0 150px;
	}
}