.faq__section{
	padding: 80px 0 38px;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 48px;
		h3{
			margin-bottom: 0;
		}
	}
	.question{
		width: 100%;
		min-height: 480px;
		float: left;
		padding: 40px 44px 40px 48px;
		border: 1px solid #1A1A1A;
		margin-bottom: 20px;
		h4{
			margin-bottom: 24px;
			color: #B3B3B3;
			span{
				color: #fff;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.faq__section {
		.question{
			padding: 30px 24px 10px;
			min-height: inherit;
			margin-bottom: 0;
		}
	}
}