footer{
	width: 100%;
	float: left;
	.widgets__line{
		width: 100%;
		float: left;
		background-color: #000000;
		padding: 64px 0 96px;
		.logo{
			width: 100%;
			float: left;
			margin-bottom: 16px;
			img{
				width: 153px;
			}
		}
	}
	.widget{
		width: 100%;
		float: left;
		&.padding{
			padding-left: 80px;
		}
		h5{
			font-size: 20px;
			font-weight: bold;
			line-height: 32px;
			margin-bottom: 16px; 
		}
		.textwidget{
			p{
				margin-bottom: 16px;
			}
		}
		&.widget_nav_menu{
			ul{
				padding: 0;
				margin: 0 0 16px 0;
				list-style: none;
				li{
					line-height: 0;
					a{
						display: inline-block;
						color: rgba(255,255,255,0.7);
						font-size: 16px;
						font-weight: 300;
						letter-spacing: 0.27px;
						line-height: 32px;
						position: relative;
						overflow: hidden;
						&::before{
							content: '';
							width: 100%;
							height: 1px;
							background-color: #fff;
							display: block;
							position: absolute;
							bottom: 0;
							left: -110%;
							-webkit-transition: all 0.3s ease;
			    					transition: all 0.3s ease;
						}
						&:hover{
							color: #fff;
							&::before{
								left: 0;
							}
						}
					}
				}
			}
		}
		&.contact__widget{
			padding-left: 35px;
			ul{
				padding: 0;
				margin: 0 0 16px 0;
				list-style: none;
				li{
					a{
						line-height: 32px;
						display: block;
					}
				}
			}
			p{
				line-height: 24px;
			}
		}
	}
	.footer__line{
		width: 100%;
		min-height: 72px;
		float: left;
		background-color: #0D0D0D;
		padding: 20px 0;
	}
	.copyright{
		p{
			opacity: 0.25;
			margin-bottom: 0;
		}
	}
	.social__block{
		width: 100%;
		float: left;
		ul{
			width: 100%;
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li{
			float: left;
			margin-left: 40px;
			a{
				display: block;
				font-size: 16px;
				letter-spacing: 0.27px;
				line-height: 32px;
				opacity: 0.7;
				color: #FFFFFF;
				position: relative;
				overflow: hidden;
				&::before{
					content: '';
					width: 100%;
					height: 1px;
					background-color: #fff;
					display: block;
					position: absolute;
					bottom: 0;
					left: -110%;
					-webkit-transition: all 0.3s ease;
	    					transition: all 0.3s ease;
				}
				&:hover{
					text-decoration: none;
					opacity: 1;
					&::before{
						left: 0;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(md){
	footer{
		padding: 15px 0 0;
		.widget{
			margin-top: 40px;
			&.contact__widget{
				margin-top: 30px;
				padding-left: 0;
			}
			&.padding{
				padding-left: 0;
			}
			&.about__widget{
				margin-top: 0;
			}
		}
		.social__block{
			margin-bottom: 16px;
			ul{
				width: 100%;
				float: left;
				text-align: center;
				line-height: 1;
				font-size: 0;
				margin: 2px 0;
				li{
					width: 100%;
					display: block;
					margin: 1px 0;
					font-size: 0;
					float: left;
					text-align: center;
					a{
						display: inline-block;
					}
					
				}
			}
		}
		.copyright{
			width: 100%;
			float: left;
			text-align: center;
		}
		.footer__line{
		    padding: 20px 0 25px;
		}
	}
}
@include media-breakpoint-down(sm){
	footer {
		.widgets__line{
			padding: 25px 0 30px;
			a.btn.btn__red{
				width: 100%;
			    padding: 9px 39px;
			}
		}
	}
}