.form__section{
	padding-bottom: 65px;
	.section__title{
		h2{
			margin-bottom: 40px;
		}
	}
	.circle{
		width: 100%;
		height: 500px;
		display: block;
		position: relative;
		margin: -86px 0 0 50px;
		&::before{
			content: '';
			width: 531px;
			height: 531px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background-image: url(../images/footer-circle.svg);
			background-position: center;
			background-size: cover;
			-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
		}
	}
}
@include media-breakpoint-down(md){
	.form__section .circle{
		position: absolute;
		margin: 0;
		width: 350px;
		height: 350px;
		top: -270px;
		right: -190px;
		&::before{
			width: 350px;
			height: 350px;
		}
	}
}
@include media-breakpoint-down(sm){
	.form__section{
		padding-bottom: 120px;
		.circle{
			top: -210px;
			right: -190px;
		}
	}
}
@include media-breakpoint-down(xs){
	.form__section{
		padding-bottom: 80px;
		.circle{
			width: 282px;
			height: 282px;
			top: -240px;
			right: -110px;
			&::before{
				width: 282px;
				height: 282px;
			}
		}
	}
}