.full__video__section{
	margin: -90px 0 60px 0;
	padding: 128px 0 0;
	min-height: 664px;
	background-size: cover;
	background-position: center;
	position: relative;
	&::before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.8);
	}
	.content{
		width: 100%;
		float: left;
		color: #fff;
		padding-bottom: 50px;
		h5{
			text-transform: uppercase;
			color: #F4214E;
			margin-bottom: 16px;
		}
		h1{
			margin-bottom: 32px;
		}
		p{
			width: 100%;
		    max-width: 800px;
		    margin: auto;
			font-size: 24px;
			line-height: 40px;
			letter-spacing: 0.4px;
			color: rgba(255,255,255,0.7);
		}
	}
	.play{
		top: inherit;
		bottom: -40px;
	    margin: 0 0 0 -40px;
	}
}
@media screen and (max-width: 1500px){
	.full__video__section .content {
		h1{
		    font-size: 62px;
			line-height: 68px;
		}
		p{
			font-size: 16px;
			line-height: 32px;
		}
	}
}
@include media-breakpoint-down(md){
	.full__video__section {
		min-height: 504px;
		.content {
			h5{
				margin-bottom: 16px;
			}
			h1{
				font-size: 36px;
				line-height: 48px;
				margin-bottom: 24px;
			}
		}
	}
}