.gradient__contact__section{
	padding: 80px 0;
	.content{
		width: 100%;
		float: left;
		position: relative;
		padding: 32px 0 24px;
		&::before{
			content: '';
			position: absolute;
			display: block;
			top: -126px;
			bottom: -126px;
			left: -127px;
			right: -127px;
			background-image: url(../images/contact-gradient.svg);
			background-position: center;
			background-size: cover;
			z-index: -1;
		}
		.text{
			padding: 0 35px;
			h2{
				margin-bottom: 24px;
			}
			p{
				color: #FFFFFF;
				font-size: 16px;
				letter-spacing: 0.27px;
				line-height: 32px;
				margin-bottom: 32px;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.gradient__contact__section{
		padding: 40px 0;
		.content .text{
			padding: 0;
		}
	}
}