body.admin-bar{
	header{
		top: 32px;
	}
}
header{
	width: 100%;
	float: left;
	padding: 20px 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	// background-color: #010001;
	-webkit-transition: all 1s ease!important;
    		transition: all 1s ease!important;
    &.show__menu,
	&.background{
		background-color: #010001;
	}
	.logo{
		width: 107px;
		height: 28px;
		margin: 10px 0 0;
		img{
			pointer-events: none;
		}
	}
	.nav__bar{
		max-width: 1900px;
		margin: auto;
		display: block;
	}
}
.mobile__btn{
	width: 24px;
	height: 24px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: -1px;
	right: 10px;
	span{
		width: 50%;
		height: 4px;
		display: block;
		position: absolute;
		background-color: #fff;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&:nth-child(odd){
			left: 0;
		}
		&:nth-child(even){
			left: 50%;
		}
		&:nth-child(1),
		&:nth-child(2){
			top: 2px;
		}
		&:nth-child(3),
		&:nth-child(4){
			top: 11px;
		}
		&:nth-child(5),
		&:nth-child(6){
			top: 20px;
		}
	}
	&.show{
		span{
			&:nth-child(odd){
				left: 2px;
			}
			&:nth-child(even){
				left: calc(50% - 2px);
			}
			&:nth-child(1),
			&:nth-child(6){
				-webkit-transform: rotate(45deg);
	    				transform: rotate(45deg);
			}
			&:nth-child(2),
			&:nth-child(5){
				-webkit-transform: rotate(-45deg);
	    				transform: rotate(-45deg);
			}
			&:nth-child(1),
			&:nth-child(2){
				top: 5px;
			}
			&:nth-child(5),
			&:nth-child(6){
				top: 14px;
			}
			&:nth-child(3){
				left: -50%;
  				opacity: 0;
			}
			&:nth-child(4){
				left: 100%;
  				opacity: 0;
			}
		}
	}
}
.mobile__menu{
	position: fixed;
	width: 100%;
	top: 64px;
	left: 0;
	bottom: 0;
	background-color: #010001;
	z-index: 100;
	text-align: center;
	padding: 122px 0 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	-webkit-transform: scale(0.9);
			transform: scale(0.9);
	.main__nav{
		width: 100%;
		float: left;
		margin: 0 0 70px 0;
		ul{
			width: 100%;
			float: left;
			li{
				width: 100%;
				float: left;
				margin: 0;
				a{
					width: 100%;
					display: block;
					padding: 10px 0;
					font-size: 24px;
					letter-spacing: 0.4px;
					line-height: 40px;
					text-align: center;
					color: rgba(255,255,255,0.7);
				}
			}
		}
	}
	&.show{
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
				transform: scale(1);
	}
}
.main__nav{
	margin: 5px 20px;
	float: left;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			float: left;
			display: block;
			margin: 0;
			position: relative;
			&.current-menu-item,
			&.current_page_parent{
				a{
					color: #F4214E;
				}
			}
			a{
				display: block;
				float: left;
				padding: 3px 20px;
				font-size: 16px;
				letter-spacing: 0.27px;
				line-height: 32px;
				color: #FFFFFF;
				position: relative;
				z-index: 1;
				&:hover{
					text-decoration: none;
					color: #F4214E;
					// animation: pulse 1s infinite;
					// color: #010001;
					// text-decoration: none;
					// background-color: rgba(255,255,255,0.8);
				}
			}
		}
	}
}
@-webkit-keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0.8);
    }
    70% {
        background-color: rgba(255,255,255,0.5);
    }
    100% {
        background-color: rgba(255,255,255,0.8);
    }
}
@keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0.8);
    }
    70% {
        background-color: rgba(255,255,255,0.5);
    }
    100% {
        background-color: rgba(255,255,255,0.8);
    }
}
@include media-breakpoint-down(md){
	header{
		padding: 20px 10px;
		.logo{
			width: 92px;
			height: 24px;
			margin: 0;
		}
	}
}
@include media-breakpoint-down(xs){
	.mobile__btn{
		right: 20px;
	}
}