.how__it__section{
	padding: 80px 0 32px;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 81px;
		h2{
			margin-bottom: 0;
		}
	}
	.block{
		width: 100%;
		float: left;
		margin-bottom: 136px;
		position: relative;
		padding: 0 0 0 155px;
		.number{
			position: absolute;
			left: 0;
			top: 0;
			padding-left: 40px;
			h2{
				float: left;
				opacity: 0.7;
				font-size: 144px;
				font-weight: bold;
				line-height: 144px;
				margin-bottom: 0;
			}
		}
	}
	.group__blocks{
		width: 100%;
		float: left;
		position: relative;
		p{
			font-size: 16px;
			letter-spacing: 0.27px;
			line-height: 32px;
			margin-bottom: 0;
		}
		h5{
			letter-spacing: 0;
			margin-bottom: 4px;
		}
		h4{
			margin-bottom: 16px;
			letter-spacing: 0;
		}
		.left{
			width: 300px;
			min-height: 144px;
			display: block;
			border: 1px solid #1A1A1A;
			padding: 32px 60px 20px 24px;
		}
		.right{
			width: 380px;
			min-height: 144px;
			border: 1px solid #F4214E;
			position: absolute;
			padding: 32px 50px 20px 32px;
			top: 88px;
			right: 0;
			background-color: #000000;
		}
	}
}
@include media-breakpoint-down(md){
	.how__it__section {
		padding: 40px 0 10px;
		.block {
			padding: 64px 0 0;
			margin-bottom: 30px;
			.number {
				padding-left: 0;
				h2{
					font-size: 64px;
					font-weight: bold;
					line-height: 64px;
				}
			}
		}
		.group__blocks {
			h4{
				margin-bottom: 8px;
			}
			.left{
				width: 100%;
				max-width: 315px;
			}
			.right{
				width: 100%;
				max-width: 315px;
				top: -20px;
				float: right;
				position: relative;
			}
		}
	}
}