.image__slider__section{
	.title{
		width: 100%;
		float: left;
		margin-bottom: 64px;
		h3{
			margin-bottom: 0;
		}
	}
	.button__row{
		width: 100%;
		float: left;
		margin-top: 52px;
	}
	.slider__nav{
		width: 80px;
		height: 40px;
		position: absolute;
		top: 193px;
		right: -32px;
		z-index: 1;
		.slick-arrow{
			width: 40px;
			height: 40px;
			display: block;
			position: absolute;
			border: 1px solid #1A1A1A;
			background-color: #010001;
			&::before{
				width: 12px;
				height: 12px;
				margin: -6px 0 0 -6px;
				background-size: cover;
				background-position: center;
			}
			&.slick-prev{
				left: 0;
				top: 0;
				&::before{
					background-image: url(../images/icons/icon-prev.svg);
				}
			}
			&.slick-next{
				right: 0;
				top: 0;
				&::before{
					background-image: url(../images/icons/icon-next.svg);
				}
			}			
		}
	}
}
.images__slider{
	width: 100%;
	height: 450px;
	float: left;
	position: relative;
	&::before{
		content: '';
		top: -100px;
		left: -100px;
		right: -100px;
		bottom: -100px;
		position: absolute;
		z-index: -1;
		background-size: cover;
		background-position: center;
		background-image: url(../images/gradient.svg);
	}
	.slick-list{
		overflow: visible;
	}
	.slide{
		width: 100%;
		height: 450px;
		background-position: center;
		background-size: cover;
		position: relative;
		text-align: center;
		-webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
		-webkit-transform: scale(0.7);
				transform: scale(0.7);
		&.slick-current{
			-webkit-transform: scale(1);
					transform: scale(1);
		}
		img{
			width: auto;
			height: 100%;
			display: inline-block;
		}
	}
}
@include media-breakpoint-down(md){
	.image__slider__section{
		padding: 40px 0;
		.slider__nav{
			width: 100%;
			float: left;
			position: relative;
			float: left;
			z-index: 1;
			top: 0;
    		right: 0;
    		margin: 16px 0 0 0;
    		text-align: center;
			.slick-arrow{
				display: inline-block!important;
				position: relative;
				float: none;
			}
		}
	}
	.images__slider {
		height: 300px;
		.slide{
			padding: 0;
			height: 300px;
			img{
				width: 100%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 0;
				-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
			}
		}
	}
}