.latest__video__section{
	padding: 80px 0;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 64px;
		h3{
			margin-bottom: 0;
		}
	}
	.slider__nav{
		width: 80px;
		height: 40px;
		position: absolute;
		top: 193px;
		right: -32px;
		z-index: 1;
		.slick-arrow{
			width: 40px;
			height: 40px;
			display: block;
			position: absolute;
			border: 1px solid #1A1A1A;
			background-color: #010001;
			&::before{
				width: 12px;
				height: 12px;
				margin: -6px 0 0 -6px;
				background-size: cover;
				background-position: center;
			}
			&.slick-prev{
				left: 0;
				top: 0;
				&::before{
					background-image: url(../images/icons/icon-prev.svg);
				}
			}
			&.slick-next{
				right: 0;
				top: 0;
				&::before{
					background-image: url(../images/icons/icon-next.svg);
				}
			}			
		}
	}
}
.latest__slider{
	width: 100%;
	height: 450px;
	float: left;
	position: relative;
	&::before{
		content: '';
		top: -100px;
		left: -100px;
		right: -100px;
		bottom: -100px;
		position: absolute;
		z-index: -1;
		background-size: cover;
		background-position: center;
		background-image: url(../images/gradient.svg);
	}
	.slick-list{
		overflow: visible;
	}
	.slide{
		width: 100%;
		height: 450px;
		background-position: center;
		background-size: cover;
		position: relative;
		padding: 80px 80px 30px 80px;
		-webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
		-webkit-transform: scale(0.7);
				transform: scale(0.7);
		&.slick-current{
			-webkit-transform: scale(1);
					transform: scale(1);
			.content{
				opacity: 1;
				visibility: visible;
			}
		}
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.85) 100%);
		}
		.content{
			max-width: 380px;
			width: 100%;
			position: relative;
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.5s ease;
                	transition: all 0.5s ease;
			h5{
				color: #F4214E;
				letter-spacing: 0.5px;
				line-height: 32px;
				text-transform: uppercase;
			}
			h3{
				margin-bottom: 24px;
			}
		}
	}
	.play{
		width: 80px;
		height: 80px;
		position: relative;
		display: block;
		background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
		box-shadow: 4px 4px 56px 0 rgba(0,0,0,0.25);
		z-index: 2;
		border-radius: 50%;
		cursor: pointer;
		-webkit-transition: all 0.5s ease;
	            transition: all 0.5s ease;
		&::before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0 10px 16px;
			border-color: transparent transparent transparent #ffffff;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -10px 0 0 -5px;
		}
		&:hover{
			animation: pulse 1s infinite;
		}
	}
}
@include media-breakpoint-down(md){
	.latest__video__section{
		padding: 40px 0;
		.slider__nav{
			width: 100%;
			float: left;
			position: relative;
			float: left;
			z-index: 1;
			top: 0;
    		right: 0;
    		margin: 16px 0 0 0;
    		text-align: center;
			.slick-arrow{
				display: inline-block!important;
				position: relative;
				float: none;
			}
		}
	}
	.latest__slider {
		height: 300px;
		.slide{
			padding: 24px 24px 20px 24px;
			height: 300px;
		}
	}
}
@include media-breakpoint-down(sm){

}