.latest__work__section{
	padding: 100px 0 80px;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 40px;
	}
}
.project__block{
	width: 100%;
	float: left;
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
	&.large{
		height: 365px;
	}
	&.medium{
		height: 195px;
	}
	&.small{
		height: 150px;
		.watch__link{
			bottom: 16px;
		}
		.content{
			padding: 16px 24px;
		}
	}
	.content{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #F4214E;
		padding: 32px 24px;
		-webkit-transition: all 0.5s ease;
            	transition: all 0.5s ease;

	}
	.watch__link{
    	position: absolute;
    	font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.27px;
		line-height: 28px;
		left: 24px;
		bottom: 32px;
		padding-left: 18px;
		&::before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 10px;
			border-color: transparent transparent transparent #ffffff;
			display: block;
			position: absolute;
			left: 0;
			top: 7px;
		}
    }
	.details{
		width: 100%;
		float: left;
		font-size: 12px;
		letter-spacing: 0.2px;
		line-height: 16px;
		color: rgba(255,255,255,0.7);
		margin-bottom: 8px;
	}
	&:hover{
		.content{
			opacity: 1;
			visibility: visible;
		}
	}
}
.latest__popups{
	padding: 0;
	.popup{
		width: 100%;
		height: 100%;
		margin-left: 0;
		left: 0;
		background-color: #010001;
		.close{
			top: 0;
			right: 10px;
		}
		&.show{
			top: 0;
		}
		.content{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 24px 0 40px;
			.title{
				width: 100%;
				float: left;
				padding-top: 40px;
			}
			h2{
				width: 100%;
				float: left;
				margin-bottom: 24px;
			}
			.subtitle{
				width: 100%;
				float: left;
				color: rgba(255,255,255,0.7);
				margin-bottom: 8px;
				h6{
					font-family: Roboto;
					float: left;
					font-size: 12px;
					font-weight: 400;
					letter-spacing: 0.2px;
					line-height: 16px;
					margin-bottom: 0;
				}
				.date{
					float: right;
					font-size: 12px;
					font-weight: 400;
					letter-spacing: 0.2px;
					line-height: 16px;
				}
			}
			iframe{
				width: 100%;
				height: 520px;
				margin-bottom: 32px;
			}
			.one__column,
			.two__columns{
				width: 100%;
				float: left;
				margin-bottom: 11px;
				.title{
					width: 100%;
					float: left;
					padding-top: 0;
					h4{
						margin-bottom: 7.5px;
					}
				}
				.images{
					width: 100%;
					float: left;
					.image{
						width: 100%;
						float: left;
						margin-bottom: 20px;
					}
				}
			}
			.description{
				width: 100%;
				float: left;
				p{
					font-size: 24px;
					letter-spacing: 0.4px;
					line-height: 40px;
				}
			}
			.looped__video{
				width: 100%;
				float: left;
				margin-bottom: 32px;
				video{
					width: 100%;
					float: left;
				}
			}
			.full__image{
				width: 100%;
				float: left;
				margin-bottom: 32px;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.project__block{
		&.large,
		&.medium,
		&.small{
			height: 250px;
			.content{
				padding: 16px 24px;
			}
			.watch__link{
				left: 24px;
				bottom: 16px;
			}
		}
	}
	.latest__popups .popup{
		.content iframe{
			height: 388px;
		}
		.close{
			right: 10px;
		}
	}
}
@include media-breakpoint-down(xs){
	.latest__popups .popup{
		.content iframe{
			height: 220px;
		}
		.close{
			right: 20px;
		}
	}
}