.bubbles__wrapper{
	width: 100%;
	height: 493px;
	float: left;
	position: absolute;
	top: -90px;
	left: 0;
	z-index: -1;
	.left__bubbles{
		position: absolute;
		top: 0;
		left: 0;
		.large{
			width: 349px;
			height: 284px;
			top: 0!important;
			left: 0!important;
			background-image: url(../images/bubbles/left-large.png);
		}
		.middle{
			width: 171px;
			height: 221px;
			top: 130px!important;
			left: 10px!important;
			background-image: url(../images/bubbles/left-middle.png);
		}
		.small{
			width: 188px;
			height: 172px;
			top: -10px!important;
			left: 210px!important;
			background-image: url(../images/bubbles/left-small.png);
		}
	}
	.right__bubbles{
		position: absolute;
		top: 0;
		right: 0;
		.large{
			width: 676px;
			height: 598px;
			top: 0!important;
			right: 0!important;
			left: auto!important;
			background-image: url(../images/bubbles/right-large.png);
			z-index: 3;
		}
		.middle{
			width: 519px;
			height: 328px;
			top: 0px!important;
			right: 180px!important;
			left: auto!important;
			background-image: url(../images/bubbles/right-middle.png);
			z-index: 2;
		}
		.small{
			width: 202px;
			height: 202px;
			top: 60px!important;
			right: 530px!important;
			left: auto!important;
			background-image: url(../images/bubbles/right-small.png);
		}
	}
	.bubble{
		position: absolute;
		display: block;
	}
}
.main__banner{
	padding-top: 150px;
	padding-bottom: 0;
	position: relative;
	z-index: 2;
	background-color: #010001;
	.title{
		h1{
			color: #fff;
			margin-bottom: 24px;
		}
	}
	.subtitle{
		p{
			font-size: 16px;
			letter-spacing: 0.27px;
			line-height: 32px;
			color: rgba(255,255,255,0.7);
			margin-bottom: 0;
			a{
				color: rgba(255,255,255,0.7);
				text-decoration: underline;
				&:hover{
					color: #F4214E;
				}
			}
		}
	}
	.text{
		margin-top: 12px;
		p{
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
			color: rgba(255,255,255,0.7);
		}
	}
	.main__video{
		margin: 107px 0 0;
		position: relative;
		&.play{
			.preview{
				opacity: 0;
				visibility: hidden;
			}
			.play{
				top: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
		// &::before{
		// 	content: '';
		// 	position: absolute;
		// 	top: -90px;
		// 	left: -90px;
		// 	right: -90px;
		// 	bottom: -90px;
		// 	display: block;
		// 	background-color: rgba(216,216,216,0);
		// 	background-size: cover;
		// 	background-position: center;
		// 	background-image: url(../images/gradient.svg);
		// 	z-index: -1;
		// }
		.preview{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
			z-index: 1;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
		}
		.play{
			width: 80px;
			height: 80px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -40px 0 0 -40px;
			background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
			box-shadow: 4px 4px 56px 0 rgba(0,0,0,0.25);
			z-index: 2;
			border-radius: 50%;
			cursor: pointer;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
			&::before{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 0 10px 16px;
				border-color: transparent transparent transparent #ffffff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -10px 0 0 -5px;
			}
			&:hover{
				animation: pulse 1s infinite;
			}
		}
	}
	.video{
		left: -170px;
		right: -170px;
		top: -130px;
	}
}
.awards__section{
	padding: 80px 0 60px;
	.awards__block{
		padding: 75px 0 0;
		.ribbons{
			width: 100%;
		}
		.texts{
			width: 100%;
			top: 36px;
			.description{
				padding-left: 0;
			}
		}
	}
}
.awards__title{
	width: 100%;
	float: left;
	position: relative;
	h2{
		margin-bottom: 0;
	}
	h3{
		position: absolute;
		right: 0;
		top: 65px;
		margin: 0 5px 0 0;
	}
}
.awards__block{
	width: 100%;
	min-height: 220px;
	float: left;
	padding: 42px 0 119px;
	position: relative;
	h3{
		color: #FFFFFF;
		margin-bottom: 21.6px;
	}
	.ribbons{
		width: 50%;
		float: left;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				width: 30px;
				height: 50px;
				display: block;
				float: left;
				font-family: 'News Cycle', sans-serif;
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.27px;
				line-height: 26px;
				margin-right: 20px;
				position: relative;
				cursor: pointer;
				-webkit-transition: height .3s;
	    				transition: height .3s;
				&.active,
				&:hover{
					height: 60px;
				}
				span{
					position: absolute;
					width: 100%;
					display: block;
					top: 17px;
					font-size: 16px;
					font-weight: bold;
					letter-spacing: 0.27px;
					line-height: 26px;
					text-align: center;
					color: #fff;
					pointer-events: none;
				}
				&::before{
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 9px 15px 0 0;
					border-color: #fff transparent transparent transparent;
					position: absolute;
					left: 0;
					bottom: -9px;
				}
				&::after{
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 15px 9px 0;
					border-color: transparent #fff transparent transparent;
					position: absolute;
					right: 0;
					bottom: -9px;
				}
				&:nth-child(odd){
					background: linear-gradient(to bottom, rgba(178,146,90,1) 0%, rgba(196,164,92,1) 100%);
					&::before{
						border-color: rgba(196,164,92,1) transparent transparent transparent;
					}
					&::after{
						border-color: transparent rgba(196,164,92,1) transparent transparent;
					}
				}
				&:nth-child(even){
					background: linear-gradient(to bottom, rgba(18,0,44,1) 0%, rgba(67,46,84,1) 100%);
					span{
						color: #D8A1FF;
					}
					&::before{
						border-color: rgba(67,46,84,1) transparent transparent transparent;
					}
					&::after{
						border-color: transparent rgba(67,46,84,1) transparent transparent;
					}
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.texts{
		width: 50%;
		min-height: 128px;
		float: left;
		position: relative;
	}
	.description{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		padding-left: 30px;
		visibility: hidden;
		-webkit-transform: translateY(50px);
				transform: translateY(50px);
		-webkit-transition: all .5s ease;
	    		transition: all .5s ease;
		&.active{
			position: relative;
			-webkit-transform: translateY(0);
					transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
		p{
			opacity: 0.7;
			color: #FFFFFF;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0.27px;
			line-height: 32px;
			margin-bottom: 0;
		}
	}
}
.video{
	position: absolute;
	z-index: -1;
	top: -30px;
	left: -70px;
	right: -70px;
	video{
		width: 100%;
	}
}
.main__video,
.video__block{
	width: 100%;
	height: 438px;
	display: block;
	float: left;
	background-position: center;
	background-size: cover;
	iframe{
	    width: 100%;
	    height: 100%;
	}
}
@include media-breakpoint-down(md){
	.bubbles__wrapper .right__bubbles{
		display: none;
	}
	.main__banner {
		padding-top: 0;
		.title {
			padding-top: 190px;
			h1{
				margin-bottom: 0;
			}
		}
		.video{
			height: 500px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			video{
				width: auto;
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
			}
		}
		.text.text-right{
			padding-left: 0;
			margin-top: 40px;
			text-align: left!important;
			p{
				font-size: 16px;
				line-height: 32px;
				color: rgba(255,255,255,0.7);
				margin-bottom: 20px;
			}
		}
		.main__video{
			margin: 120px 0 0 0;
			height: 300px;
		}
	}
	.awards__title{
		max-width: 400px;
		h3{
			font-size: 36px;
			line-height: 48px;
			right: auto;
			left: 0;
			top: 50px;
		}
	}
	.awards__section{
		.awards__block{
			padding: 0 0 0;
			margin: 40px 0 20px 0;
		}
	}
	.awards__block{
		padding: 40px 0;
		min-height: auto;
		.ribbons{
			width: 100%;
			ul{
				li{
					margin-right: 12px;
				}
			}
			// ul li{
			// 	width: 40px;
			// 	height: 61px;
			// 	margin-right: 16px;
			// 	span{
			// 		font-size: 21px;
			// 		letter-spacing: 0.35px;
			// 		line-height: 34px;
			// 		top: 20px;
			// 	}
			// 	&::before{
			// 		border-width: 9px 20px 0 0;
			// 	}
			// 	&::after{
			// 		border-width: 0 20px 9px 0;
			// 	}
			// 	&.active,
			// 	&:hover{
			// 		height: 90px;
			// 	}
			// }
		}
		.texts{
			width: 100%;
			min-height: auto;
			margin: 25px 0 0;
			.description{
				padding-left: 0;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.main__banner {
		.main__video{
			height: 250px;
		}
	}
	.awards__block .ribbons ul li{
		width: 33px;
	}
}