.newsletter__section{
	padding: 112px 0 206px;
	.form__section{
		width: 100%;
		float: left;
		padding: 0;
		position: relative;
		&::before{
			content: '';
			width: 1440px;
			height: 580px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
			background-image: url(../images/newsletter-blur.png);
			background-position: center;
			background-size: cover;
			z-index: -1;
		}
		h2{
			margin-bottom: 24px;
		}
		p{
			margin-bottom: 48px;
		}
	}
	.post-edit-link{
		font-size: 14px;
	}
	.yikes-mailchimp-container{
		padding: 0;
	}
	.yikes-easy-mc-form{
		width: 100%;
		max-width: 460px;
		margin: 0 auto;
		position: relative;
		text-align: left;
		label{
			margin-bottom: 0;
			&.EMAIL-label{
				width: 100%;
				max-width: 325px;
			}
		}
		.form__submit{
			position: absolute;
			right: 0;
			top: 0;
			width: 128px;
			height: 48px;
			margin: 0!important;
			padding: 0;
			background-color: transparent;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0.27px;
			line-height: 28px;
			border: none;
			&::before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: -100%;
				top: 0;
				background: linear-gradient(37.09deg, #AC1683 0%, #F3204D 100%);
				z-index: 0;
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
			    -webkit-transform: none;
    					transform: none;
			}
			&::after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
				z-index: 0;
			}
			span{
				position: relative;
				z-index: 1;
			}
			&:hover{
				&::before{
					left: 0;
				}
				&::after{
					left: 100%;
				}
			}
		}
		.form__field{
			background-color: rgba(179,179,179,0.4);
			border: none;
			min-height: 48px;
			line-height: 48px;
			padding: 0 16px;
			color: rgba(255,255,255,0.3);	
			font-size: 20px;
			font-weight: bold;
			font-family: 'Gilroy';
			margin: 0;
		}
	}
}
@include media-breakpoint-down(md){
	.newsletter__section{
		padding: 48px 0;
		.form__section {
			h2{
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 15px;
			}
			p{
				margin-bottom: 24px;
			}
		}
		.yikes-easy-mc-form{
			max-width: 100%;
			.form__submit{
				width: 100%;
				position: relative;
			}
		}
		.yikes-mailchimp-container{
			label.EMAIL-label{
				max-width: 100%;
				margin-bottom: 18px;
			}
		}
	}
}