.page__title{
	padding: 58px 0 0 0;
	h1{
		margin-bottom: 40px;
	}
	.quote__block{
		width: 100%;
		float: left;
		position: relative;
		padding-left: 60px;
		margin-top: -100px;
		margin-bottom: 70px;
		h4{
			margin-bottom: 20px;
		}
	}
	.text{
		width: 100%;
		float: left;
		p{
			color: #FFFFFF;
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
			opacity: 1;
		}
	}
}
@include media-breakpoint-down(md){
	.page__title {
		.quote__block{
			margin-top: -90px;
			padding-left: 0;
		}
		.text{
			p{
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.page__title .quote__block{
		margin-top: 0;
		margin-bottom: 40px;
	}
}