.partners__section{
	padding: 0 0 140px 0;
}
.partners{
	width: 100%;
	float: left;
	text-align: center;
	.slide{
		width: auto;
		display: inline-block;
		font-size: 0;
		padding: 0 5px;
		margin: 0 0 40px 0;
	}
	.logo{
		display: inline-block;
		img{
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 60px;
			vertical-align: middle;
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// -webkit-transform: translate(-50%, -50%);
			// 		transform: translate(-50%, -50%);

		}
	}
}
@include media-breakpoint-down(md){
	.partners__section{
		padding: 0 0 54px 0;
	}
}