.posts__section{
	width: 100%;
	float: left;
	padding: 20px 0 150px;
}
.post__block{
	width: 100%;
	height: 460px;
	float: left;
	position: relative;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	&::before{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0.5;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #010001;
		z-index: 1;
	}
	.content{
		width: 100%;
		height: 100%;
		float: left;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		-webkit-transition: all 0.5s ease;
            	transition: all 0.5s ease;
		&.full{
			background-color: #F4214E;
			opacity: 0;
			visibility: hidden;
			.text{
				bottom: -30px;
				-webkit-transition: all 0.5s ease;
            			transition: all 0.5s ease;
			}
			// -webkit-transform: scale(0.8);
			// 		transform: scale(0.8);
		}
		&.short{
			
		}
		.text{
			width: 100%;
			padding: 0 40px;
			position: absolute;
			bottom: 20px;
			left: 0;
		}
		h3{
			color: #FFFFFF;
			font-size: 36px;
			line-height: 48px;
			margin-bottom: 20px;
		}
		p{
			opacity: 0.7;
			color: #FFFFFF;
			font-size: 16px;
			letter-spacing: 0.27px;
			line-height: 32px;
			margin-bottom: 20px;
		}
	}
	.date{
		width: 100%;
		float: left;
		opacity: 0.4;
		color: #FFFFFF;
		font-size: 12px;
		letter-spacing: 0.2px;
		line-height: 16px;
		margin-bottom: 40px;
	}
	.button__row{
		width: 100%;
		float: left;
		margin-bottom: 20px;
		button{
			pointer-events: all;
		}
	}
	&:hover{
		.content{
			&.full{
				opacity: 1;
				visibility: visible;
				-webkit-transform: scale(1);
						transform: scale(1);
				.text{
					padding-bottom: 20px;
					bottom: 0;
				}
			}
			&.short{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
.post__title{
	padding: 0 0 80px 0;
}
.post__nav{
	width: 100%;
	float: left;
	margin: 0 0 22px 0;
	a{
		position: relative;
		color: #FFFFFF;
		font-size: 16px;
		letter-spacing: 0.27px;
		line-height: 28px;
		padding-left: 21px;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
			width: 16px;
			height: 16px;
			display: block;
			background-image: url(../images/icons/icon-arrow-left.svg);
			background-position: center;
			background-repeat: no-repeat;
			-webkit-transition: all 0.3s ease;
            		transition: all 0.3s ease;
		}
		&:hover{
			text-decoration: none;
			opacity: 0.6;
			&::before{
				left: -5px;
			}
		}
	}
}
.post__banner{
	width: 100%;
	float: left;
	img{
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}
	h1{
		width: 100%;
		float: left;
		margin-bottom: 40px;
	}
	.data{
		width: 100%;
		float: left;
		color: #4D4D4D;
		font-size: 24px;
		letter-spacing: 0.4px;
		line-height: 32px;
	}
}
.text__section{
	padding: 0 0 20px;
	.content{
		width: 100%;
		float: left;
	}
	h2{
		margin-bottom: 20px;
	}
	h3{
		margin-bottom: 20px;
	}
	p{
		font-size: 24px;
		letter-spacing: 0.4px;
		margin-bottom: 40px;
		line-height: 40px;
		color: rgba(255,255,255,0.7);
	}
	ul{
		margin: 0 0 40px 0;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			padding: 0 0 0 25px;
			margin: 0 0 12px 0;
			color: rgba(255,255,255, 0.7);
			font-size: 24px;
			font-weight: 300;
			letter-spacing: 0.4px;
			line-height: 40px;
			&::before{
				content: '';
				width: 6px;
				height: 6px;
				display: block;
				position: absolute;
				border-radius: 50%;
				background-color: rgba(255,255,255,0.7);
				// background-image: url(../images/icons/icon-plus.svg);
				// background-repeat: no-repeat;
				// background-position: center;
				left: 0;
				top: 17px;
			}
		}
	}
}
.sharing__section{
	padding: 0 0 170px 0;
}
.share__block{
	width: 100%;
	float: left;
	h3{
		margin-bottom: 20px;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			padding: 0;
			margin: 0 9px;
		}
	}
}
.pagination{
	width: 100%;
	float: left;
	display: block;
	font-size: 0;
	margin-top: 20px;
	>span,
	a{
		padding: 2px 9px;
		display: inline-block;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: 0.27px;
		vertical-align: middle;
		&:hover{
			text-decoration: none;
		}
	}
	span.current,
	a.page-numbers{
		color: rgba(255,255,255,0.7);
		border-top: 1px solid #1A1A1A;
		border-bottom: 1px solid #1A1A1A;
		&:first-child{
			border-left: 1px solid #1A1A1A;
		}
		&:last-child{
			border-right: 1px solid #1A1A1A;
		}
		&:hover{
			color: #F4214E;
		}
	}
	span.current{
		color: #F4214E;
	}
	.next,
	.prev{
		width: 32px;
		height: 38px;
		border: 1px solid #1A1A1A;
		position: relative;
		padding: 0;
		span{
			content: '';
			width: 8px;
			height: 14px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -7px 0 0 -4px;
			pointer-events: none;
		}
	}
	.next span{
		background-image: url(../images/icons/icon-arrow-right.svg);
	}
	.prev span{
		background-image: url(../images/icons/icon-arrow-left.svg);
	}
}
.share{
	width: 48px;
	height: 48px;
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 50%;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&:focus{
		outline: none;
	}
	&:hover{
		border-color: #F4214E;
		&::after{
			opacity: 1;
			visibility: visible;
			-webkit-transform: scale(1);
					transform: scale(1);
		}
	}
	&.linkedin{
		&::before{
			background-image: url(../images/icons/icon-linkedin.svg);
		}
	}
	&.facebook{
		&::before{
			background-image: url(../images/icons/icon-facebook.svg);
		}
	}
	&.email{
		&::before{
			background-image: url(../images/icons/icon-email.svg);
		}
	}
	&::before{
		content: '';
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -12px 0 0 -12px;
		z-index: 2;
	}
	&::after{
		content: '';
		width: 48px;
		height: 48px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -24px 0 0 -24px;
		background-color: #F4214E;
		opacity: 0;
		border-radius: 50%;
		visibility: hidden;
		z-index: 1;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		-webkit-transform: scale(0);
				transform: scale(0);
	}
}
@include media-breakpoint-down(md){
	.posts__section{
		padding: 20px 0 80px;
	}
	.post__block{
		height: 400px;
	}
	.post__banner {
		h1{
			font-size: 42px;
			line-height: 56px;
		}
		.data{
			font-size: 18px;
			line-height: 26px;
		}
	}
	.text__section .content p{
		font-size: 18px;
		line-height: 24px;
	}
	.sharing__section{
		padding: 0 0 80px 0;
	}
	.post__text {
		padding: 0 0 40px 0;
		p, ul li{
			font-size: 18px;
			line-height: 32px;
		}
		ul li::before{
			top: 4px;
		}
	}
}
@include media-breakpoint-down(sm){
	.post__block{
		height: 350px;
		.content{
			.text{
				padding: 0 30px;
			}
			h3{
				font-size: 24px;
				line-height: 32px;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.post__banner {
		.h1, h1{
			font-size: 32px;
			line-height: 48px;
		}
	}
}