.process__section{
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding: 0 0 200px 0;
}
.process__row{
	width: 100%;
	float: left;
	margin-bottom: 149px;
	.text{
		width: 100%;
		float: left;
		border: 1px solid #1A1A1A;
		padding: 24px 40px 40px;
		background-color: #010001;
		h3{
			margin-bottom: 24px;
			span{
				color: #F4214E;
			}
		}
		p{
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
			color: rgba(255,255,255,0.7);
			margin-bottom: 0;
		}
	}
	img{
		width: auto;
		max-width: 601px;
	}
	.image{
		width: 100%;
		float: left;
		position: absolute;
		img{
			position: absolute;
		}
	}
	&.text__image{
		.image{
			left: 0;
			top: 40px;
			img{
				left: 0;
			}
		}
	}
	&.image__text{
		.image{
			top: 100px;
			right: 0;
			img{
				right: 0;
			}
		}
	}
	&:last-child{
		margin-top: 20px;
		margin-bottom: 240px;
		&.image__text{
			.image{
				top: 190px;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.partners__section{
		.section__title{
			text-align: center;
		}
	}
	.process__section{
		padding: 0 0 60px;
	}
	.process__row {
		margin-bottom: 50px;
		&:last-child{
			margin-bottom: 50px;
			margin-top: 0;
		}
		.image{
			position: static;
			transform: inherit!important;
			img{
				position: static;
				max-width: inherit;
				width: 100%;
			}
		}
		.nopadding{
			padding-left: 10px!important;
			padding-right: 10px!important;
		}
		.text{
			p{
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.process__row .text p{
		font-size: 18px;
		line-height: 32px;
	}
}