.ready__talk__section{
	padding: 80px 0 0;
	overflow: hidden;
	.content{
		width: 100%;
		float: left;
		position: relative;
		.ready__text{
			width: 100%;
			float: left;
			position: relative;
			z-index: 2;
		}
		&::before{
			content: '';
			top: -25px;
			left: -25px;
			right: -25px;
			bottom: -25px;
			position: absolute;
			z-index: -1;
			background-size: cover;
			background-position: center;
			background-image: url(../images/gradient.svg);
		}
		&::after{
			content: '';
			top: -100px;
			left: -100px;
			right: -100px;
			bottom: -100px;
			position: absolute;
			background-color: rgba(0,0,0,0.5);
			z-index: 1;
		}
	}
	.text{
		width: 100%;
		float: left;
		padding: 132px 0 204px;
		h2{
			margin-bottom: 48px;
		}
		.btn{
			padding: 10px 32px;
		}
	}
	.person{
		width: 100%;
		float: left;
		img{
			width: 439px;
			max-width: inherit;
			position: absolute;
			bottom: 0;
			right: 15px;
		}
		.person__info{
			position: absolute;
			left: 15px;
			bottom: 186px;
			h4{
				margin-bottom: 4px;
				font-weight: 700;
			}
			p{
				font-size: 12px;
				letter-spacing: 0.2px;
				line-height: 16px;
				margin-bottom: 0;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.ready__talk__section {
		padding: 40px 0;
		.content::before{
			top: -50px;
			bottom: 150px;
		}
		.text{
			position: relative;
			padding: 10px 0 0;
		}
		.person{
			text-align: center;
    		img{
    			position: relative;
			    bottom: 0;
    			right: 0;
    		}
    		.person__info{
    			bottom: auto;
    			top: 43px;
    			left: 15px;
    			text-align: left;
    			h3{
    				font-size: 36px;
					font-weight: bold;
					line-height: 48px;
    			}
    		}
		}
		.order-last{
			order: 1;
		}
		.order-first{
			order: 2;
		}
	}
}
@include media-breakpoint-down(xs){
	.ready__talk__section {
		.person {
			text-align: right;
			img{
				width: 244px;
			}
		}
		.text .btn{
			width: 100%;
		}
	}
}