/*Service section*/
.services__section{
	// padding: 0 0 66px;
	.section__title{
		margin-bottom: 161px;
	}
	.services{
		height: auto;
		&.absolute{
			.service{
				position: static;
				.name{
					top: inherit!important;
					position: absolute!important;
					left: -70px!important;
				}
			}
		}
	}
	.service{
		width: 100%;
		float: left;
		position: relative;
		padding: 164px 0 0 260px;
		margin-bottom: 160px;
		.name{
			// min-height: 200px;
			width: 460px;
			border: 1px solid #1A1A1A;
			background-color: #010001;
			position: absolute;
			top: 0;
			left: -80px;
			
			z-index: 10;
			&.fixed{
				position: fixed;
			}
			h3{
				padding: 23px 52px 24px 80px;
				margin-bottom: 0;
			}
			p{
				padding: 0 52px 24px 80px;
				font-size: 24px;
				letter-spacing: 0.4px;
				line-height: 32px;
				margin-bottom: 0;
			}
			a{
				margin: 0 52px 24px 80px;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.video{
		position: relative;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		&.show{
			&::after{
				left: -100%;
			}
		}
		&::after{
			content: '';
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: #010001;
			position: absolute;
			left: 0;
			top: 0;
			-webkit-transition: all 0.7s ease;
            		transition: all 0.7s ease;
		}
	}
}
@include media-breakpoint-down(md){
	.services__section{
		.service{
			padding: 0;
			.name{
				min-height: 156px;
				top: -116px!important;
				left: 0!important;
				h3{
					padding: 20px;
				}
				&.fixed{
					position: absolute;
					
				}
				p{
					font-size: 16px;
					line-height: 32px;
					padding: 0 20px 20px 20px;
				}
				a{
					margin: 0 20px 24px 20px;
				}
			}
		}
		.video{
			margin-left: -20px;
   			margin-right: -20px;
		}
		.services.absolute{
			.service{
				position: relative;
				.name{
					top: -116px!important;
					bottom: inherit!important;
					left: inherit!important;
					// top: -116px!important;
					// left: 0!important;
				}
			}
		}
	}	
}
@include media-breakpoint-down(xs){
	.services__section .service .name{
		width: 100%;
	}
}