.posts__section{
	width: 100%;
	float: left;
	padding: 20px 0 150px;
}
.service__block{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&::before{
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba(0,0,0,0.65);
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}
	&::after{
		content: '';
		width: 150%;
		height: 100%;
		display: block;
		background-color: #F4214E;
		z-index: 1;
		position: absolute;
		top: 0;
	    left: -175%;
	    -webkit-transform: skewX(30deg);
	    		transform: skewX(30deg);
		-webkit-transition: all 0.6s ease;
				transition: all 0.6s ease;
	}
	&:hover{
		&::after{
			left: -25%;
		}
		.content{
			.text__link{
				color: #fff;
			}
		}
	}
	.content{
		width: 100%;
		height: 320px;
		float: left;
		position: relative;
		z-index: 2;
		.text{
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 0 64px 32px 32px;
		}
		h3{
		  	color: #FFFFFF;
		  	margin-bottom: 8px;
		}
		p{
			margin-bottom: 16px;
		}
		.text__link{
			width: 100%;
			float: left;
			color: #F4214E;
			font-weight: 700;
			-webkit-transition: all 0.6s ease;
					transition: all 0.6s ease;
		}
	}
}
.grid__images{
	.title{
		width: 100%;
		float: left;
		h3{
			margin-bottom: 40px;
		}
	}
	.image{
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
}
.two__images__section{
	.title{
		width: 100%;
		float: left;
		margin-bottom: 40px;
		h3{
			margin-bottom: 16px;
		}
		p{
			margin-bottom: 0;
		}
	}
}