.team__section__grid{
	padding: 80px 0;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 48px;
		h3{
			margin-bottom: 0;
		}
	}
	.person{
		width: 100%;
		float: left;
		margin-bottom: 48px;
		.avatar{
			width: 100%;
			height: 313px;
			float: left;
			margin-bottom: 24px;
			background-size: cover;
			background-position: top center;
		}
		h4{
			width: 100%;
			float: left;
			margin-bottom: 8px;
		}
		p{
			width: 100%;
			float: left;
			font-size: 12px;
			letter-spacing: 0.2px;
			line-height: 16px;
			color: rgba(255,255,255,0.4);
			margin-bottom: 0;
		}
	}
}
@include media-breakpoint-down(md){
	.team__section__grid{
		padding: 40px 0;
	}
}