.team__section{
	
}
.team__block{
	.images{
		width: 100%;
		float: left;
		position: relative;
		.default__image{
			width: 100%;
			float: left;
			position: relative;
			z-index: 1;
			img{
				position: absolute;
				z-index: 1;
			}
		}
		.team__list{
			width: 100%;
			float: left;
			position: relative;
			z-index: 1;
			.image{
				width: 100%;
				float: left;
				&.hover{
					img{
						opacity: 1;
						visibility: visible;
					}
				}
			}
			img{
				position: absolute;
				z-index: 2;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all 0.7s ease;
            			transition: all 0.7s ease;
			}
		}
	}
}
.team__information{
	width: 100%;
	float: left;
	margin-top: 40px;
	position: relative;
	z-index: 11;
	left: -11px;
	.person{
		width: 100%;
		float: left;
		border: 1px solid #1A1A1A;
		background-color: #010001;
		padding: 24px 180px 20px 40px;
		left: 0;
		position: relative;
		-webkit-transition: all 0.5s ease!important;
    			transition: all 0.5s ease!important;
		&:hover{
			left: 30px;
			h3{
				color: #F4214E;
			}
		}
		h3{
			margin-bottom: 0;
			pointer-events: none;
			-webkit-transition: all 0.5s ease;
    				transition: all 0.5s ease;
		}
		p{
			width: 170px;
			float: left;
			text-align: right;
			margin-bottom: 0;
			position: absolute;
			right: 40px;
			bottom: 19px;
			line-height: 28px;
			pointer-events: none;
		}
	}
}
.team__slider{
	width: 100%;
	float: left;
	position: relative;
	.slide{
		width: 100%;
		float: left;
		padding-top: 462px;
		position: relative;
		.image{
			width: 100%;
			height: 450px;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			img{
				position: absolute;
				width: 100%;
				height: auto;
				top: 0;
			}
		}
		.person{
			width: 100%;
			float: left;
			h3{
				font-size: 16px;
				line-height: 32px;
				margin-bottom: 0;
			}
			p{
				font-size: 12px;
				line-height: 16px;
				letter-spacing: 0.2px;
				color: rgba(255,255,255,0.4);
				margin-bottom: 0;
			}
		}
	}
	.slick-dots{
		bottom: 65px;
	}
}
.slick-dots{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	bottom: 35px;
	left: 0;
	li{
		width: 8px;
		height: 8px;
		display: inline-block;
		font-size: 0;
		margin: 0 5px;
		position: relative;
		button{
			width: 6px;
			height: 6px;
			display: block;
			border-radius: 50%;
			border: 1px solid #1A1A1A;
			background-color: transparent;
			padding: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			-webkit-transform: translate(-50%, -50%);
            		transform: translate(-50%, -50%);
		}
		&.slick-active{
			button{
				background-color: #F4214E;
				border-color: #F4214E;
				-webkit-transform: translate(-50%, -50%) scale(1.4);
            			transform: translate(-50%, -50%) scale(1.4);
			}
		}
	}
}
.slick-arrow{
	position: absolute;
	width: 40px;
	height: 60px;
	top: 190px;
	background-color: #010001;
	border: none;
	color: transparent;
	z-index: 1;
	padding: 0;
	&:focus{
		outline: none;
	}
	&::before{
		content: '';
		width: 11px;
		height: 20px;
		display: block;
		position: absolute;
		background-position: center;
		background-size: cover;
		top: 50%;
		left: 50%;
		margin: -10px 0 0 -5.5px;
	}
	&.slick-next{
		right: 0;
		&::before{
			background-image: url(../images/icons/icon-arrow-right.svg);
		}
	}
	&.slick-prev{
		left: 0;
		&::before{
			background-image: url(../images/icons/icon-arrow-left.svg);
		}
	}
}
@include media-breakpoint-down(md){
	.team__slider .slide {
		padding-top: 362px;
		.image{
			height: 350px;
		}
	}
}
@include media-breakpoint-down(sm){
	.team__slider .slide {
		padding-top: 312px;
		.image{
			height: 300px;
		}
	}
}
@include media-breakpoint-down(xs){
	.team__section{
		padding-bottom: 60px;
	}
	.team__slider .slide {
		padding-top: 262px;
		.image{
			height: 250px;
		}
	}
}