.testimonial{
	padding: 40px 0 122px;
	.logo{
		width: 100%;
		min-height: 29px;
		float: left;
		margin-bottom: 24px;
		img{
			width: auto;
			max-width: 100%;
			max-height: 70px;
			opacity: 0.5;
		}
	}
	.text{
		width: 100%;
		max-width: 780px;
		border: 1px solid #1A1A1A;
		padding: 64px 300px 64px 64px;
		position: relative;
		p{
			margin-bottom: 0;
		}
	}
	.author{
		width: 100%;
		max-width: 780px;
		float: left;
		padding: 24px 300px 24px 64px;

		h5{
			width: 100%;
			float: left;
			line-height: 22px;
			margin-bottom: 12px;
		}
		.position{
			width: 100%;
			float: left;
			font-size: 12px;
			letter-spacing: 0.2px;
			line-height: 16px;
			color: rgba(255,255,255,0.7);
		}
	}
	.avatar{
		position: absolute;
		top: 64px;
		right: -160px;
		width: 100%;
		max-width: 390px;
		z-index: 1;
		img{
			position: relative;
			z-index: 1;
		}
		&::after{
			content: '';
			width: 90%;
			height: 90%;
			box-shadow: 5px 5px 80px #F4214E;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
			opacity: 0.3;
		}
	}
}
.feedback__slider__section{
	padding: 80px 0;
	.slider__nav{
		width: 80px;
		height: 40px;
		position: absolute;
		bottom: 60px;
		right: 349px;
		z-index: 1;
		.slick-arrow{
			top: 0;
			width: 40px;
			height: 40px;
			border: 1px solid #1A1A1A;
  			background-color: #010001;
  			&.slick-prev::before{
			    width: 12px;
			    height: 12px;
			    margin: -6px 0 0 -6px;
			    background-size: cover;
			    background-position: center;
			    background-image: url(../images/icons/icon-prev.svg);
  			}
  			&.slick-next::before{
			    width: 12px;
			    height: 12px;
			    margin: -6px 0 0 -6px;
			    background-size: cover;
			    background-position: center;
			    background-image: url(../images/icons/icon-next.svg);
  			}
		}
	}
}
.feedback__slider{
	.slick-list{
		overflow: visible;
	}
	.slide.slick-current{
		.avatar{
			right: -160px;
		}
		.author{
			top: 0;
		}
	}
	.logo{
		width: 100%;
		min-height: 29px;
		float: left;
		margin-bottom: 24px;
		img{
			width: auto;
			max-width: 150px;
			max-height: 70px;
			opacity: 0.5;
		}
	}
	.text{
		width: 100%;
		max-width: 780px;
		border: 1px solid #1A1A1A;
		padding: 64px 300px 64px 64px;
		position: relative;
		p{
			margin-bottom: 0;
		}
	}
	.author{
		width: 100%;
		max-width: 780px;
		float: left;
		padding: 24px 300px 24px 64px;
		position: relative;
		top: 50px;
		-webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
		h5{
			width: 100%;
			float: left;
			line-height: 22px;
			margin-bottom: 12px;
		}
		.position{
			width: 100%;
			float: left;
			font-size: 12px;
			letter-spacing: 0.2px;
			line-height: 16px;
			color: rgba(255,255,255,0.7);
		}
	}
	.avatar{
		position: absolute;
		top: 64px;
		right: -210px;
		width: 100%;
		max-width: 390px;
		z-index: 1;
		-webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
		img{
			position: relative;
			z-index: 1;
		}
		&::after{
			content: '';
			width: 90%;
			height: 90%;
			box-shadow: 5px 5px 80px #F4214E;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
			opacity: 0.3;
		}
	}
}
@include media-breakpoint-down(md){
	.testimonial {
	    padding: 40px 0 64px;
		.logo{
			margin-bottom: 16px;
		}
		.text{
			padding: 16px;
			margin-top: 120px;
		}
		.avatar{
			width: 136px;
			height: 167px;
			right: 16px;
			top: -120px;
			overflow: hidden;
			&::after{
				display: none;
			}
			img{
				width: auto;
				max-width: inherit;
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
			}
		}
		.author{
			width: auto;
			position: absolute;
			top: 15px;
			left: 20px;
			right: 20px;
			padding: 0 166px 0 16px;
			-webkit-transform: translateY(20%);
    				transform: translateY(20%);
		}
	}
	.feedback__slider__section{
		padding: 40px 0;
		.slide{
			&.slick-current{
				.avatar{
					right: 16px;
				}
			}
			.logo{
				margin-bottom: 16px;
				img{
					max-width: 100px;
				}
			}
			.text{
				padding: 16px;
				margin-top: 120px;
			}
			.avatar{
				width: 136px;
				height: 167px;
				right: -160px;
				top: -120px;
				overflow: hidden;
				&::after{
					display: none;
				}
				img{
					width: auto;
					max-width: inherit;
					height: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
				}
			}
			.author{
				width: auto;
				position: absolute;
				top: 15px;
				left: 20px;
				right: 20px;
				padding: 0 166px 0 16px;
				-webkit-transform: translateY(20%);
	    				transform: translateY(20%);
			}
		}
		.slider__nav{
			position: relative;
			bottom: 0;
			right: 0;
		}
	}
}
@include media-breakpoint-down(xs){
	.ready__talk__section .content::before{
		top: -50px;
		bottom: 150px;
	}
}