.text__image__section,
.image__text__section{
	.text{
		width: 100%;
		float: left;
		position: relative;
		margin-top: 40px;
		p{
			font-size: 24px;
			letter-spacing: 0.4px;
			line-height: 40px;
			opacity: 0.7;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
	}
	.image{
		width: 100%;
		min-height: 360px;
		float: left;
		position: relative;
		.image__block{
			position: absolute;
			top: 0;
			overflow: hidden;
			img{
				width: auto;
				max-width: 640px;
				max-height: 360px;
			}
		}
	}
}
.text__image__section{
	.text{
		left: -25px;
		padding-right: 20px;
	}
	.image{
		.image__block{
			left: -25px;
		}
	}
}
.image__text__section{
	// padding-bottom: 200px;
	.text{
		padding-left: 10px;
		padding-bottom: 100px;
		padding-right: 35px;
	}
	.image{
		.image__block{
			right: 5px;
		}
	}
}
.image__slide{
	position: relative;
	&::before{
		content: '';
		width: 100%;
		height: 480px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #010001;
		-webkit-transition: all 0.7s ease;
           		transition: all 0.7s ease;
	}
	&.show{
		&::before{
			left: -100%;
		}
	}
}
@include media-breakpoint-down(lg){
	.text__image__section {
		padding-bottom: 120px;
		.text{
			left: 0;
			padding-right: 30px;
		}
		.image .image__block{
			left: 0;
		}
	}
	.image__text__section {
		padding-bottom: 120px;
		.image .image__block{
			right: 0;
		}
		.text{
			padding-left: 30px;
			padding-right: 0;
		}
	}
}
@include media-breakpoint-down(md){
	.text__image__section {
		.text{
			padding-right: 0;
			p{
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
	.image__text__section {
		.text{
			padding-left: 0;
			p{
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.text__image__section {
		padding-bottom: 40px;
		.image{
			min-height: auto;
			.image__block{
				position: static;
				img{
					width: 100%;
					max-width: inherit;
					max-height: inherit;
				}
			}
		}
		.text{
			margin-top: 0;
		}
	}
	.image__text__section {
		padding-bottom: 40px;
		.image{
			min-height: inherit;
			.image__block{
				position: static;
				img{
					width: 100%;
				}
			}
		}
		.text{
			padding-bottom: 0;
		}
	}
}