.two__columns__section{
	padding: 35px 0 24px;
}
.links{
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		width: 100%;
		float: left;
	}
}
.link{
	display: inline-block;
	position: relative;
	padding-right: 24px;
	color: rgba(244, 33, 78, 0.7);
	font-size: 16px;	
	letter-spacing: 0.27px;	
	line-height: 32px;
	&::after{
		content: '';
		background-image: url(../images/icons/icon-link.svg);
		position: absolute;
		width: 16px;
		height: 16px;
		display: block;
		right: 0;
		top: 8px;
		-webkit-transition: all 0.2s ease;
    			transition: all 0.2s ease;
	}
	&:hover{
		color: rgba(244, 33, 78, 1);
		text-decoration: none;
		&::after{
			top: 6px;
			right: -2px;
		}
	}
}