.use__cases__section{
	padding: 80px 0;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 64px;
		h3{
			margin-bottom: 0;
		}
	}
	.case{
		width: 33.33%;
		height: 200px;
		float: left;
		border: 1px solid #1A1A1A;
		position: relative;
		.icon{
			width: 100%;
			float: left;
			padding: 32px 25px 0 30px;
		}
		.text{
			position: absolute;
			width: 100%;
			float: left;
			bottom: 0;
			left: 0;
			padding: 0 25px 40px 30px;
			h4{
				margin-bottom: 0;
				letter-spacing: 0;
			}
		}
	}
	img{
		width: auto;
	}
}
@include media-breakpoint-down(sm){
	.use__cases__section {
		padding: 60px 0 40px;
		.case{
			width: 100%;
		}
	}
}