.video__vimeo__section{
	// padding: 0 0 120px 0;
	.section__title{
		margin-bottom: 40px;
	}
	.video__block{
		height: 530px;
		&.play{
			.preview{
				opacity: 0;
				visibility: hidden;
			}
			.play{
				top: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: -90px;
			left: -90px;
			right: -90px;
			bottom: -90px;
			display: block;
			background-color: rgba(216,216,216,0);
			background-size: cover;
			background-position: center;
			background-image: url(../images/gradient.svg);
			z-index: -1;
		}
		.preview{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
			z-index: 1;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
		}
		.play{
			width: 80px;
			height: 80px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -40px 0 0 -40px;
			background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
			box-shadow: 4px 4px 56px 0 rgba(0,0,0,0.25);
			z-index: 2;
			border-radius: 50%;
			cursor: pointer;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
			&::before{
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 0 10px 16px;
				border-color: transparent transparent transparent #ffffff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -10px 0 0 -5px;
			}
			&:hover{
				animation: pulse 1s infinite;
			}
		}
	}
}
.video__section{
	.video__block{
		height: 530px;
		&.play{
			.preview{
				opacity: 0;
				visibility: hidden;
			}
			.play{
				top: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: -90px;
			left: -90px;
			right: -90px;
			bottom: -90px;
			display: block;
			background-color: rgba(216,216,216,0);
			background-size: cover;
			background-position: center;
			background-image: url(../images/video-blur.png);
			z-index: -1;
		}
		.preview{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
			z-index: 1;
			-webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
		}
	}
}
.full__video__section,
.video__block,
.main__video{
	.play{
		width: 80px;
		height: 80px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
		background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
		box-shadow: 4px 4px 56px 0 rgba(0,0,0,0.25);
		z-index: 2;
		border-radius: 50%;
		cursor: pointer;
		-webkit-transition: all 0.5s ease;
	            transition: all 0.5s ease;
		&::before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0 10px 16px;
			border-color: transparent transparent transparent #ffffff;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -10px 0 0 -6px;
		}
		&:hover{
			animation: pulse 1s infinite;
		}
	}
}
@include media-breakpoint-down(md){
	.video__vimeo__section{
		padding: 0 0 80px 0;
		.video__block{
			height: 400px;
		}
	}
	.video__section{
		.video__block{
			height: 400px;
		}
	}
}
@include media-breakpoint-down(xs){
	.video__vimeo__section .video__block,
	.video__section	.video__block{
		height: 300px;
	}
}