.video__slider{
	width: 100%;
	float: left;
	.slide{
		width: 100%;
		float: left;
		position: relative;
		&.slick-active{
			.text{
				left: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.preview{
		width: 100%;
		height: 80vh;
		float: left;
		background-size: cover;
		background-position: center;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg,rgba(33,33,33,0) 0, #010001 100%);
		}
	}
	.text{
		position: absolute;
		bottom: 120px;
		left: 200px;
		padding: 0 120px;
		width: 80%;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 1s ease 0.7s;
                transition: all 1s ease 0.7s;
		p{
		    font-size: 24px;
		    letter-spacing: .4px;
		    line-height: 40px;
		    // color: #fff;
		}
	}
	.slick-dots li {
		button{
			border-color: #fff;
		}
		&.slick-active{
			button{
				border-color: #F4214E;
			}
		}
	}
}
.play__btn{
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -50px 0 0 -50px;
	z-index: 3;
	background-color: transparent;
	cursor: pointer;
	border: none;
	&::before{
		content: '';
		width: 30px;
		height: 30px;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		margin: -15px 0 0 -12px;
		background-image: url(../images/icons/icon-play.svg);
		background-size: 30px 30px;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 2;
	}
	&::after{
		content: '';
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #F4214E;
		border-radius: 50%;
		z-index: 1;
	}
	&:hover{
        &::after{
            animation: pulse 1s infinite;
        }
    }
}
.video__popup{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
        	transition: all 0.3s ease;
    &.show{
    	opacity: 1;
    	visibility: visible;
    	.popup{
    		opacity: 1;
    		visibility: visible;
    		top: 90px;
    	}
    }
	.wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		.close{
	        width: 30px;
	        height: 30px;
	        position: absolute;
	        top: 32px;
	        right: 32px;
	        cursor: pointer;
	        float: none;
	        opacity: 1;
	        -webkit-transition: all 0.3s ease;
	                transition: all 0.3s ease;
	        &:hover{
	            &::after,
	            &::before{
	                -webkit-transform: rotate(0);
	                        transform: rotate(0);
	            }
	        }
	        &::before{
	            content: '';
	            width: 27px;
	            height: 2px;
	            display: block;
	            background-color: #fff;
	            position: absolute;
	            top: 14px;
	            left: 1px;
	            -webkit-transition: all 0.3s ease;
	                    transition: all 0.3s ease;
	            -webkit-transform: rotate(45deg);
	                    transform: rotate(45deg);
	        }
	        &::after{
	            content: '';
	            width: 27px;
	            height: 2px;
	            display: block;
	            background-color: #fff;
	            position: absolute;
	            top: 14px;
	            left: 1px;
	            -webkit-transition: all 0.3s ease;
	                    transition: all 0.3s ease;
	            -webkit-transform: rotate(-45deg);
	                    transform: rotate(-45deg);
	        }
	    }
	}
	.popup{
		position: absolute;
		top: 200px;
		bottom: 90px;
		left: 90px;
		right: 90px;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 1s ease;
                transition: all 1s ease;
		.video{
			z-index: 1;
		    top: 0px;
		    left: 0px;
		    right: 0px;
		    bottom: 0;
		    iframe{
		    	position: absolute;
		    	width: 100%;
				height: 100%;
				top: 0px;
		    	left: 0px;
		    	&:focus{
		    		outline: none;
		    	}
		    }
		}
	}
}
@media screen and (max-width: 1500px){
	.video__slider {
		.play{
			left: 65%;
		}
		.text{
			width: 55%;
			padding: 0 0 0 120px;
		}
	}
}
@include media-breakpoint-down(md){
	.video__slider__section{
		.section__title{
			padding-top: 0;
			margin-bottom: 40px;
		}
	}
	.video__slider {
		.text{
			width: 60%;
			padding: 0 0 0 60px;
			p{
				font-size: 16px;
				line-height: 32px;
			}
		}
		.play{
			left: 75%;
		}
	}
	.video__popup {
		&.show{
			.popup{
				top: 50px;
			}
		}
		.wrapper .close{
			top: 15px;
			right: 15px;
		}
		.popup{
			left: 50px;
			top: 90px;
			right: 50px;
			bottom: 50px;
		}
	}
}
@include media-breakpoint-down(sm){
	.video__slider {
		.text{
			display: none;
		}
		.play{
			left: 50%;
			top: 50%;
		}
	}
}