html{
	overflow: auto;
	overflow-x: hidden;
}
.container{
	max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}
.container-fluid{
	padding-right: 10px;
    padding-left: 10px;
}
.row{
	margin-right: -10px;
    margin-left: -10px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-right: 10px;
    padding-left: 10px;
}
.cursor{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
	margin: -23px 0 0 -23px;
    pointer-events: none;
    border-radius: 50%;
    animation: cursorscale 2s alternate infinite ease;
    -webkit-transition: all 80ms ease;
    		transition: all 80ms ease;
	.circle{
		width: 100%;
		height: 100%;
		display: block;
		border: 1px solid #F4214E;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 0 0 15px rgba(244, 33, 78, 1);
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
	}
	&.hover{
		.circle{
			background-color: #F4214E;
			-webkit-transform: scale(0.3);
					transform: scale(0.3);
		}
	}
}
.preloader__wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #010001;
	z-index: 10001;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&.hide{
		opacity: 0;
		visibility: hidden;
	}
}
.circles__block{
	width: 150px;
	height: 150px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -75px;
	.circle{
		width: 150px;
		height: 150px;
		display: block;
		position: absolute;
		top: 0;
		border-radius: 50%;
		&.left{
			box-shadow: -15px 0 40px rgba(244, 33, 78, 1);
			border-color: rgba(244, 33, 78, 1);
			left: 0;
		}
		&.right{
			box-shadow: -15px 0 40px rgba(12, 0, 255, 1);
			border-color: rgba(12, 0, 255, 1);
			right: 0;
		}
		&:nth-child(1){
			animation: leftcircle 2s infinite linear;
		}
		&:nth-child(2){
			animation: rightcircle 2s infinite linear;
		}
		&:nth-child(3){
			animation: leftcircle 2s 1s infinite linear;
		}
		&:nth-child(4){
			animation: rightcircle 2s 1s infinite linear;
		}
	}
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 4px 4px 56px 0 rgba(0,0,0,.25);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(244,33,78, 0);
    }
    100% {
        -webkit-box-shadow: 4px 4px 56px 0 rgba(0,0,0,.25);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 4px 4px 56px 0 rgba(0,0,0,.25);
        box-shadow: 0 0 0 0 rgba(244,33,78, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(244,33,78, 0);
        box-shadow: 0 0 0 15px rgba(244,33,78, 0);
    }
    100% {
        -moz-box-shadow: 4px 4px 56px 0 rgba(0,0,0,.25);
        box-shadow: 0 0 0 0 rgba(244,33,78, 0);
    }
}
@keyframes cursorscale {
	0%   {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@-webkit-keyframes cursorscale {
	0%   {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@keyframes cursorhover {
	0%   {transform: scale(1);}
	100% {transform: scale(0.2);}
}
@-webkit-keyframes cursorhover {
	0%   {transform: scale(1);}
  	100% {transform: scale(0.2);}
}
@keyframes leftcircle {
	0%{
		transform: rotate(0deg) scale(0.9);
	}
	50%{
		transform: rotate(180deg) scale(1);
	}
	100%{
		transform: rotate(360deg) scale(0.9);
	}
}
@-webkit-keyframes leftcircle {
	0%{
		transform: rotate(0deg) scale(0.9);
	}
	50%{
		transform: rotate(180deg) scale(1);
	}
	100%{
		transform: rotate(360deg) scale(0.9);
	}
}
@keyframes rightcircle {
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(-180deg) scale(0.9);
	}
	100%{
		transform: rotate(-360deg) scale(1);
	}
}
@-webkit-keyframes rightcircle {
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(-180deg) scale(0.9);
	}
	100%{
		transform: rotate(-360deg) scale(1);
	}
}
section{
	width: 100%;
	float: left;
	padding: 0 0 160px;
	.border{
		width: 100%;
		height: 1px;
		display: block;
	    background-color: rgba(255,255,255,.1);
		border: none!important;
	}
	.section__title{
		width: 100%;
		float: left;
		padding-top: 66px;
		margin-bottom: 80px;
		position: relative;
    	z-index: 1;
		h2{
			margin-bottom: 0;
		}
	}
}
main{
	width: 100%;
	float: left;
	position: relative;
	min-height: 84vh;
}
form{
	&.inline__form{
		.field__group{
			display: inline-block;
			width: 35%;
			padding-right: 16px;
			margin-bottom: 15px;
			.form__field{
				height: 48px;
				padding: 0 16px;
				min-height: inherit;
				background-color: rgba(179,179,179,0.4);
				font-size: 16px;
				letter-spacing: 0.27px;
				line-height: 32px;
				opacity: 1;
				border: 1px solid transparent;
				color: rgba(255,255,255,0.7);

				&.error {
				    border-color: #F4214E;
				}
			}
			label{
				&::after{
					display: none;
				}
			}
		}
		.submit__group{
			display: inline-block;
			width: 30%;
			padding-left: 8px;
		}
		.field__error{
			text-align: left;
			font-size: 14px;
			line-height: 20px;
			bottom: auto;
			top: 54px;
		}
	}
}
.line{
	width: 1px;
	height: 100%;
	position: absolute;
    background-color: rgba(255,255,255,.1);
	left: 50%;
	top: 0;
	margin-left: -0.5px;
	z-index: -1;
}
.hide-lines{
	.character__section::before,
	.line{
		display: none;
	}
	section .border{
		background-color: transparent;
	}
	.process__section,
	.border__row,
	.banner__text__section{
		border: none;
	}
}
.nopadding{
	padding-left: 0!important;
	padding-right: 0!important;
}
.slick-slide{
	&:focus{
		outline: none;
	}
}
.popup__wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	&.show{
		opacity: 1;
		visibility: visible;
	}
}
.popup{
	position: fixed;
	width: 875px;
	height: 490px;
	display: block;
	left: 50%;
	top: 250px;
	margin-left: -437.5px;
	opacity: 0;
	visibility: hidden;
	z-index: 1001;
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	&.show{
		top: 150px;
		opacity: 1;
		visibility: visible;
	}
	iframe{
		width: 100%;
		height: 100%;
	}
	.close{
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;
		top: -40px;
		right: 0;
		opacity: 1;
		cursor: pointer;
		&::before{
			content: '';
			width: 2px;
			height: 27px;
			display: block;
			background-color: #B3B3B3;
			position: absolute;
			left: 11px;
			top: -1px;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
		}
		&::after{
			content: '';
			width: 2px;
			height: 27px;
			display: block;
			background-color: #B3B3B3;
			position: absolute;
			left: 11px;
			top: -1px;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
		}
		&:hover{
			opacity: 1!important;
			&::before{
				-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
			}
			&::after{
				-webkit-transform: rotate(-90deg);
						transform: rotate(-90deg);
			}
		}
	}
}
@include media-breakpoint-down(md){
	.container{
	    max-width: 720px;
	}
	section{
		padding: 0 0 120px 0;
	}
	.cursor{
		display: none;
	}
	.character__section::before,
	.line{
		display: none;
	}
	section .border{
		background-color: transparent;
	}
	.process__section,
	.border__row{
		border: none;
	}
	.popup{
		width: 700px;
		height: 400px;
		margin-left: -350px;
	}
	form{
		&.inline__form {
			.field__group{
				width: 100%;
				padding-right: 0;
			}
			.submit__group{
				width: 100%;
				padding-left: 0;
				button{
					width: 100%;
				}
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.container{
	    max-width: 540px;
	}
	.popup{
		width: 500px;
		height: 290px;
		margin-left: -250px;
	}
}
@include media-breakpoint-down(xs){
	.container{
	    max-width: 100%;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .container, .container-fluid{
		padding-right: 20px;
		padding-left: 20px;
	}
	.row{
		margin-left: -20px;
		margin-right: -20px;
	}
	.video__block{
		height: 350px;
	}
	.popup{
		width: 320px;
		height: 180px;
		margin-left: -160px;
	}
}