@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=News+Cycle:700&display=swap');
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), 
    	 url('../fonts/Gilroylight.woff2') format('woff2'), 
    	 url('../fonts/Gilroylight.woff') format('woff'), 
    	 url('../fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    	 url('../fonts/Gilroybold.woff2') format('woff2'), 
    	 url('../fonts/Gilroybold.woff') format('woff'), 
    	 url('../fonts/Gilroybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    	 url('../fonts/Gilroyextrabold.woff2') format('woff2'), 
    	 url('../fonts/Gilroyextrabold.woff') format('woff'), 
    	 url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
h1, .h1{
	font-size: 80px;
	line-height: 88px;
	font-family: 'Gilroy';
	font-weight: 700;
	margin-bottom: 40px;
}
h2, .h2{
	font-size: 62px;
	line-height: 68px;
	font-family: 'Gilroy';
	font-weight: 700;
	margin-bottom: 40px;
}
h3, .h3{
	font-size: 36px;
	line-height: 48px;
	font-family: 'Gilroy';
	font-weight: 700;
	margin-bottom: 20px;
}
h4, .h4{
	font-size: 24px;
	letter-spacing: 0.4px;
	line-height: 32px;
	font-family: 'Gilroy';
	margin-bottom: 16px;
}
h5, .h5{
	font-size: 20px;
	letter-spacing: 0.4px;
	line-height: 28px;
	font-family: 'Gilroy';
}
h6, .h6{
	font-size: 18px;
	letter-spacing: 0.4px;
	line-height: 24px;
	font-family: 'Gilroy';
}
p{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.27px;
	line-height: 32px;
	color: rgba(255,255,255,0.7);
}
.gradient{
	font-size: 120px;
	font-weight: bold;
	line-height: 96px;
	background: linear-gradient(42.1deg, #0C00FF 0%, #F4214E 82.2%, #F4214E 100%);
	-webkit-background-clip: text;
	-webkit-text-stroke: 2px transparent;
	color: #010001;
}
img{
	width: 100%;
	height: auto;
	max-width: 100%;
}
body{
	width: 100%;
	float: left;
	padding-top: 90px;
	font-family: 'Roboto', sans-serif;
	background-color: #010001;
	color: #fff;
	overflow-x: hidden;
	// cursor: url(../images/cursor.svg), auto;
	// cursor: none!important;
	// &:hover{
 //    	cursor: none!important;
 //    }
}
a{
	color: rgba(244,17,78,0.7);
	-webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    &:hover{
    	text-decoration: none;
    	color: rgba(244,17,78,1);
    }
}
button{
	// &:hover{
	// 	cursor: none!important;
	// }
	&:focus{
		outline: none;
	}
}
.quotes__section{
	blockquote{
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 0;
		.icon{
			width: 303px;
			height: 196px;
	  		display: block;
	  		position: absolute;
	  		left: -240px;
	  		top: -32px;
	  		background-image: url(../images/icons/icon-bloquote.svg);
	  		z-index: -1;
		}
		h3{
			font-weight: 400;
			color: #B3B3B3;
			margin-bottom: 0;
		}
		b, strong{
			color: #fff;
		}
	}
}
.btn{
	min-width: 127px;
	display: inline-block;
	position: relative;
	font-size: 16px;
	letter-spacing: 0.27px;
	line-height: 28px;
	padding: 10px 17px;
	border-radius: 0;
	overflow: hidden;
	outline: none;
	box-shadow: none;
	&.btn__red{
		color: #F4214E;
		border-color: #F4214E;
		// background-color: #010001;
		&::before{
			background-color: #F4214E;
		}
		&:hover{
			color: #fff;
		}
		&:focus{
			&::before{
				background-color: #D01940;
			} 
		}
	}
	&.btn__full__red{
		color: #fff;
		border-color: #F4214E;
		background-color: #F4214E;
		&::before{
			background-color: #fff;
		}
		&:hover{
			color: #F4214E;
			border-color: #fff;
		}
		&:focus{
			&::before{
				background-color: #DEDEDE;
			} 
		}
	}
	&.btn__white{
		color: #FFFFFF;
		border-color: rgba(255,255,255,0.6);
		background-color: transparent;
		&::before{
			background-color: #fff;
		}
		&:hover{
			color: #010001;
		}
	}
	&::before{
		content: '';
		width: 130%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: -145%;
		z-index: 0;
		-webkit-transform: skewX(30deg);
				transform: skewX(30deg);
		-webkit-transition: all 0.4s ease;
            	transition: all 0.4s ease;
	}
	&.btn__gradient{
		border: none;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: -100%;
			top: 0;
			background: linear-gradient(37.09deg, #AC1683 0%, #F3204D 100%);
			z-index: 0;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
		    -webkit-transform: none;
					transform: none;
		}
		&::after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(37.09deg, #F3204D 0%, #AC1683 100%);
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			z-index: 0;
		}
		span{
			color: #fff;
			position: relative;
			z-index: 1;
		}
		&:hover{
			&::before{
				left: 0;
			}
			&::after{
				left: 100%;
			}
		}
	}
	&.btn__gradient__blue{
		border: none;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: -100%;
			top: 0;
			background: linear-gradient(42.1deg, #F4214E 0%, #F4214E 33.2%, #0C00FF 100%);
			z-index: 0;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
		    -webkit-transform: none;
					transform: none;
		}
		&::after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(42.1deg, #0C00FF 0%, #F4214E 82.2%, #F4214E 100%);
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			z-index: 0;
		}
		span{
			color: #fff;
			position: relative;
			z-index: 1;
		}
		&:hover{
			&::before{
				left: 0;
			}
			&::after{
				left: 100%;
			}
		}
	}
	&:hover{
		// cursor: none;
		&::before{
			left: -15%;
		}
	}
	&:focus{
		outline: none;
		box-shadow: none;
	}
	span{
		pointer-events: none;
		position: relative;
		z-index: 1;
	}
	&.large{
		font-size: 24px;
		letter-spacing: 0.4px;
		line-height: 40px;
		padding: 14px 17px;
	}
	&.full{
		width: 100%;
	}
	&.load{
		pointer-events: none;
		opacity: 0.4;
	}
}
::-moz-selection { background: #F4214E; }
::selection { background: #F4214E; }

@include media-breakpoint-down(md){
	.h1, h1{
		font-size: 62px;
		line-height: 68px;
	}
	.h2, h2{
		font-size: 36px;
		line-height: 48px;
	}
	.h3, h3{
		font-size: 24px;
		line-height: 32px;
	}
	// .h4, h4{
	// 	font-size: 16px;
	// 	line-height: 24px;
	// }
	// .h5, h5{
	// 	font-size: 14px;
	// 	line-height: 18px;
	// }
	// .h6, h5{
	// 	font-size: 12px;
	// 	line-height: 16px;
	// }
	.gradient{
		font-size: 80px;
		line-height: 72px;
	}
	body{
		padding-top: 64px;
	}
	.btn{
		padding: 15px 39px;
		&.btn__gradient{
			padding: 10px 17px;
		}
	}
	.quotes__section{
		blockquote{
			.icon{
				left: 0;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	// .h1, h1{
	// 	font-size: 32px;
	// 	line-height: 48px;
	// }
	// .h2, h2{
	// 	font-size: 28px;
	// 	line-height: 32px;
	// }
	// .h3, h3{
	// 	font-size: 22px;
	// 	line-height: 28px;
	// }
	// .h4, h4{
	// 	font-size: 16px;
	// 	line-height: 24px;
	// }
	// .h5, h5{
	// 	font-size: 14px;
	// 	line-height: 18px;
	// }
	// .h6, h5{
	// 	font-size: 12px;
	// 	line-height: 16px;
	// }
}